[2013-09-11 04:29] tony opened #1 "travis unit tests"
this requires having a tmux client open while the tests run.

I have made some progress on using `tmux -C` but it's not quite there yet. (https://travis-ci.org/tony/tmuxp/builds/11223314).

workaround: have a tmux client open in another window while tests run.

[2013-09-11 04:38] tony opened #2 "support for multiple tmux servers + custom config Server objects"

[2013-09-15 05:47] #2 closed, assigned to nobody

[2013-09-15 05:48] #1 closed, assigned to nobody

[2013-10-19 14:04] tony opened #3 "start_directory not working"

[2013-10-19 14:05] tony opened #4 "rewrite unittest wrapper / helper"
`no client` errors happening.

kill-session is creates clean TestSuites, look into an open to not kill session / kick tester out of an attached tmux session afterwards so session may be viewed.

[2013-10-19 14:05] tony opened #5 "rewrite unit tests"

[2013-10-24 10:23] #3 closed, assigned to nobody

[2013-10-24 10:23] #4 closed, assigned to nobody

[2013-10-24 10:23] #5 closed, assigned to nobody

[2013-10-24 10:24] tony opened #6 "automatic-rename and options"
Ensure `options` and `automatic-rename` option is working, is tested and is shown in the examples in the docs.

[2013-10-29 04:33] #6 closed, assigned to nobody

[2013-10-29 04:34] tony opened #7 "Save workspace to JSON/YAML"

[2013-10-29 04:34] tony opened #8 "Docs Update"

[2013-10-29 04:34] tony opened #9 "Code cleanup"

[2013-10-29 04:37] tony opened #10 "Release 0.1 (ignore, created by mistake)"
http://tmuxp.readthedocs.org/en/latest/roadmap.html#milestone

[2013-10-31 13:04] stratoukos opened #11 "Paths in windows' start_directory should be considered relative to the session's start_directory"
If a relative path is specified in a window's start_directory, it should be considered relative to the session's. For example, in the following config:

[code]

the pane's pwd should be "~/projects/test/dir/inside/project". Right now it is "/".

[2013-11-01 02:10] #11 closed, assigned to nobody

[2013-11-01 23:44] #7 closed, assigned to nobody

[2013-11-05 06:57] #8 closed, assigned to nobody

[2013-11-05 06:57] #9 closed, assigned to nobody

[2013-11-05 10:16] postlogic opened #13 "Installation issue (python 2.6 support)"
Trying to install tmuxp on a server (not connected to the internet), and I'm getting this error (all deps are installed):

  ~$ pip install tmuxp-0.0.36.tar.gz
  Unpacking ./tmuxp-0.0.36.tar.gz
    Running setup.py egg_info for package from file:///home/smichael/tmuxp-0.0.36.tar.gz
      Traceback (most recent call last):
        File "<string>", line 14, in <module>
        File "/tmp/pip-YsW3B2-

[2013-11-07 02:03] tony opened #14 "Rewrite logger"
Current logger weak

[2013-11-09 11:27] benohara opened #15 "Pane ordering"
I've got a setup with 4 or 6 panes, works fine, however the orderings not what id expect (not the same as 4 panes on tmuxinator)

Id expect

[code]

It seems to work if you reorder the panes lists in the yaml, but in normal order, ie

panes:
- echo 1
- echo 2
- echo 3
- echo 4

you get

  1       4
  3       2

I have base-index and pane-base-index set to 1, but seems the same without...

Am i mis

[2013-11-09 13:15] #14 closed, assigned to nobody

[2013-11-11 01:53] tony opened #17 "Milestone 0.1 (ignore, created by mistake)"
http://tmuxp.readthedocs.org/en/latest/roadmap.html

[2013-11-11 01:54] #10 closed, assigned to nobody

[2013-11-11 01:55] #17 closed, assigned to tony

[2013-11-11 01:57] #13 closed, assigned to nobody

[2013-11-11 01:59] tony opened #18 "About tmux documentation"
Finish http://tmuxp.readthedocs.org/en/latest/about_tmux.html tao of tmux documentation.

@wrongwaycn also needs this for 中文 docs.

[2013-11-13 00:28] tony opened #20 "Autocomplete duplicates result on match"
[code]

[2013-11-13 03:59] #20 closed, assigned to tony

[2013-11-13 12:56] #18 closed, assigned to tony

[2013-11-20 10:18] #15 closed, assigned to tony

[2013-11-20 15:14] tony opened #21 "Fix python 2.6 errors"
This issue occurs with files on python 2.6 and leads to failed builds on travis.

[code]

[2013-11-20 17:41] #21 closed, assigned to tony

[2013-11-22 12:07] lowks opened #22 "Can't start up tmuxp"
Following verbatim the example provided here:

http://tmuxp.readthedocs.org/en/latest/quickstart.html

I was not able to get tmuxp running. I got this error:

  File "/usr/local/lib/python2.7/dist-packages/tmuxp/cli.py", line 278, in load_workspace
    builder.build()
  File "/usr/local/lib/python2.7/dist-packages/tmuxp/workspacebuilder.py", line 125, in build
    session_name=self.sconf['session_

[2013-11-22 15:50] #22 closed, assigned to nobody

[2013-11-23 02:57] lowks opened #23 "Have to restart tmuxp two times"
Please look at the startup sequence below:

[code]

After this second time of loading, then it works.

_Edit by Tony. wrapped output so it will be formatted._

[2013-11-23 11:57] #23 closed, assigned to nobody

[2013-11-24 02:27] lowks opened #24 "[Enhancement]: Add another task to tmuxp to generate sample config file"
Can you add a task to tmuxp to generate a sample config file, the use case is as follows:
1. tmuxp generate edit
2. next tmuxp will ask Save as <filename>.{json/yaml} [y/n] ?

The sample is just a very simple say two column config which users can start on. This will help speed up users which are new to tmuxp.

[2013-12-03 03:11] tony opened #25 "focus: true not working in panes"

[2013-12-03 10:08] #25 closed, assigned to tony

[2013-12-03 18:28] stratoukos opened #26 "test suite doesn't pass under OS X"
FocusAndPaneIndexTest and PaneOrderingTest in test_workspacebuilder.py fail to pass under OS X for 2 reasons:
1. `/sys` does not exist in OS X
2. `/var` is symlinked to `/private/var` and `pane.get('pane_current_path')` returns the resolved path, so `assertEqual` fails with `AssertionError: u'/private/var' != '/var'`. The same also stands for `/tmp`.

I tried to fix this, either by manually resolv

[2013-12-04 06:08] leechannl opened #27 "tmuxp freeze cause IndexError"
Hi, I just ran `tmuxp freeze test` in a tmux window, and got the following traceback:

[code]

The tmuxp version I installed is: `0.1.0rc4`, and it's in a virtualenv.
I use zsh, and Oh-my-Zsh.
Python version is `Python 2.7.5+`.
My OS is Ubuntu 13.10.
Besides, I ran the tests, all pass.

[2013-12-04 09:33] tony opened #28 "shell_command_before in session level causes shell_command to repeat in all panes"
[code]

[2013-12-04 12:13] #26 closed, assigned to tony

[2013-12-04 14:36] #28 closed, assigned to tony

[2013-12-04 16:04] tony opened #30 "Fix session name to accept one argument"
re #27

@tony
The `freeze` help message suggests it supports to freeze several sessions.

[code]

But the result I got is not as expected.

[code]

I can confirm that the valid session names are `0` `1` `3` in my case.

[code]

Currently, arguments are being accepting multiple words and concatenating them by spaces so users don't have to escape spaces in session names.

This will require updating

[2013-12-05 06:02] #27 closed, assigned to tony

[2013-12-06 08:27] tony opened #32 "Encoding error with special characters"
[code]

[code]

[2013-12-06 08:34] tony opened #33 "focus: true doesn't work if shell_command: command is being used."
[code]

[2013-12-07 02:46] #33 closed, assigned to tony

[2013-12-18 02:29] tony opened #34 "`only_if` for running a script to pre-install/check settings before building tmuxp session."
like `only_if` in salt.

Issue is with tmuxp example configs that check for virtualenv with bash, every pane is checking. Instead, allow a script to return an exit code of 0/1 and return stderr if the message fails - don't continue building session.

[2013-12-18 02:30] tony opened #35 "Start_directory after building session"
Setting start_directory is being used as the way to make startdirs work open correctly. Find a new way to make this work in >1.8 or reset / flush start_dirs accordingly.

[2013-12-23 03:06] ycui opened #36 "question on using tmuxp to run different part of my code."
Hi,

I have a question regarding the usage of tmuxp :

For example say I have an iteration from 1 to 100.

in one terminal i need to run:

for i in range(100):
    print i

I would like to know if it's possible to separate this work into four parts and run the following in each part:

for i in range(25):
    print i

I don't want to write yml or json config file for this run, but want to integrate

[2013-12-25 03:25] #32 closed, assigned to tony

[2013-12-28 18:37] aciceri opened #37 "Focus option doesn't work"
Consider this code(from documentation):

[code]

If I execute "tmuxp load focus.yaml" (focus.yaml is in /home/user/.tmuxp) it doesn't work.

[code]

I tried both Python 3  and Python 2. I also tried to install via pip or source(lastest version on github).
Sorry for my basic english.

PS: I'm on ArchLinux

[2014-01-02 14:43] maksimr opened #38 "Add tmuxp.zsh to oh-my-zsh plugins"
I think it will be awesome, have tmuxp completion
in official oh-my-zsh plugins :)

[2014-01-08 22:36] tony opened #39 "tmuxp freeze: don't duplicate options if in session-wide sessions"
If `automatic-rename: off` in `.tmux.conf`, don't freeze in tmuxp config.

[2014-01-08 22:36] tony opened #40 "tmuxp freeze: resolve /home/username to ~ if $USER matches."

[2014-01-08 23:43] tony opened #41 "tmuxp freeze: ``window_name`` to the top of the dict"
Have `window_name` freeze to the top of the dict.

[2014-01-09 05:45] roxit opened #42 "Unable to load a session detached"
There is no option in tmuxp to load a session in a detached manner, which makes some automation scripts uncomfortable.

For example, one might use saltstack to start a develop server via tmuxp and do something, which could be achieved by `tmux new-session -d "teamocil keystone"`. However, it would get a `TmuxpException` if tmuxp was used.

[2014-01-09 06:46] #42 closed, assigned to nobody

[2014-01-15 20:25] tony opened #46 "Don't output bash/zsh commands to history"
This can get annoying, but panes are passed commands in the background via `send-keys` and this populates `.bash-history` and `.zsh_history`.  Using a space in front of the commands can make life easier in this respect.

[2014-01-24 03:23] tony opened #47 "mackup support"
https://github.com/lra/mackup

[2014-02-05 06:39] ghost opened #49 "package_metadata ????"
Hi ,
I dont know where to find package_metadata

$ pip install tmuxp
Downloading/unpacking tmuxp
  Downloading tmuxp-0.1.5.tar.gz (71kB): 71kB downloaded
  Running setup.py (path:/tmp/pip_build_root/tmuxp/setup.py) egg_info for package tmuxp
    Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/tmp/pip_build_root/tmuxp/setup.py", line 15, in <module>

[2014-02-05 07:13] #49 closed, assigned to nobody

[2014-02-08 04:49] #46 closed, assigned to tony

[2014-02-08 04:57] tony opened #50 "Respect Session, Server, Window, Pane and option attribute types"
When options pass through tmuxp the attribute types should be accurate. Currently, everything is being treated as unicode. In the future, typos should be enforced. Perhaps objects can keep a schema inside, `set` and `get` inside will run it through the schema to convert the unicode to a specified type.

[2014-02-08 04:59] tony opened #51 "Reconstruct TestSuite"
This new testsuite will aim for a higher % coverage rate, separate unit API tests, from integration, and tmux-binary client tests. Have a non-tmux test client, and allow for TestSuite to run without tmux available.

[2014-02-08 05:18] tony opened #52 "Allow panes to have a start_directory"

[2014-02-08 05:19] tony opened #53 "`enter: false` support"
~Blocked by #751~

Just to leave the console text in the shell.

Such as creating a new pane, running commands in `shell_command_before` then leaving `vim file.py` in the cli window, but not actually sending the carriage return to start it.

Duplicate: #293 #735

[2014-02-08 05:23] tony opened #54 "New cython client to replace bash commands / listing and parsing data from shell."
I brought this up before at https://github.com/redbrain/cython-book/issues/1.

There  needs to be a way to:
1. Send commands.
2. Retrieve data about current Session, Window, Pane information.

Currently this is being done via Shell and subprocess. This would be like a dream scenario for integration and reducing lag.

@redbrain: Any update on your cython / tmux client effort?

[2014-02-25 01:39] iynaix opened #55 "Tmux version checking fails under Arch Linux"
The version checking for tmux fails under Arch Linux, which reports the version as '1.9a'. The tmux version was updated to 1.9a on 24 Feb 2014. (https://www.archlinux.org/packages/community/x86_64/tmux/)

[code]

[2014-02-25 03:36] #55 closed, assigned to nobody

[2014-03-09 00:40] rphillips opened #56 "Spawning tmuxp sessions from within tmux"
I love the project. Is there a recommended way of manipulating tmuxp from within tmux? For instance, loading a new session.

[2014-03-15 20:55] tony opened #57 "Creating session "flask" when "flask_colors" causes error creating session."
When `flask_colors` session exists, a session name with any part of the string `flask_colors` e.g. `flask` will prevent the `flask` session from loading.

Steps to reproduce:
1. Have session named `my_session` open
2. Try to load a tmuxp session with the `session_name` of `my`, `my_s`, `my_sess` etc. will fail.

[2014-03-19 11:24] tony opened #58 "Add documentation for launching a session with WorkspaceBuilder in python quickstart."

[2014-03-19 11:25] #35 closed, assigned to tony

[2014-03-19 11:27] tony opened #59 "Support for loading tmuxp via a python script"
This is related to #34 . A script can be used to verify state of a project (virtualenv, packages installed) before launching a tmux session. As it stands examples are pure bash input in tmux.

[2014-03-23 01:36] tony opened #60 "Use tmux control mode -C for running scripts"
This should improve testsuite and session loading time in lieu of #54.

http://stackoverflow.com/a/4896288

[2014-03-26 08:12] Azrael3000 opened #61 "tmux freeze crashes if folder does not exist"
File "/usr/bin/tmuxp", line 9, in <module>
    load_entry_point('tmuxp==0.1.7', 'console_scripts', 'tmuxp')()
  File "/usr/lib/python3.3/site-packages/tmuxp/cli.py", line 971, in main
    command_freeze(args)
  File "/usr/lib/python3.3/site-packages/tmuxp/cli.py", line 391, in command_freeze
    buf = open(dest, 'w')
FileNotFoundError: [Errno 2] No such file or directory: '/home/username/.tmuxp/0.

[2014-03-26 08:24] Azrael3000 opened #62 "tmux load does not work if one window was running su"
Reason is that in the configuration (yaml) the start_directory is saved as NULL

I would suggest to check for this issue when saving and use /home/username as default to avoid this issue.

[2014-03-27 08:49] Azrael3000 opened #63 "tmux freeze fails if one pane was maximized"
A pane in tmux can be maximized using "tmux-preffix" + z. Now when I detach and freeze this, the layout keyword in the yaml file looks like a one pane window. However, The panes keyword is followed by two entries. This is already contradictory if I understand the yaml configuration files correctly.

Moreover, tmuxp cannot load the layout as it raises:
tmuxp.exc.TmuxpException: ["can't set layout:

[2014-03-27 13:55] Azrael3000 opened #64 "Allow overwriting of freeze files"
Currently tmuxp doesn't allow that, so it might be nice to support that.

I'm going to send you a few more issues with enhancements that I thought off. None of it is essential but it would improve the overall handling imho. I'm going to open each in a different issue so that it is easier for you to keep track of things.

[2014-03-27 13:57] Azrael3000 opened #65 "Ignore bash command in pane"
At the moment empty panes are saved as - bash which starts bash on top of bash which is really unnecessary I think. So it might be good to ignore the standard shell command when saving.

[2014-03-27 13:59] Azrael3000 opened #66 "Default freeze (session) files"
For me at least I normally only have one tmux session. So 99% of the time all I need is one freeze file. So it would be nice to have a default file (e.g. ~/.tmuxp/default.yaml) than can be loaded by tmux load without any additional arguments. Again really minor but for lazy guys like me it would be a nice feature.

[2014-03-27 14:02] Azrael3000 opened #67 "Save name of vim file"
Last enhancement suggestion for now. I often have vim running in one of my panes and it would be nice if tmux freeze also saves the filename so that it opens the file again automagically.

Of course you could also do this for other often used (but inferior) text editors like emacs :)

[2014-03-28 14:15] tony opened #68 "Testsuite / Refactoring"

[2014-03-28 14:16] #68 closed, assigned to tony

[2014-03-29 20:08] tony opened #70 "[RFC] Re-architecture tmuxp commands to compile a list of commands and run them."
Allow tmux commands to be query objects:

[code]

[2014-03-30 16:04] #40 closed, assigned to tony

[2014-03-30 22:26] #61 closed, assigned to tony

[2014-03-30 22:42] #37 closed, assigned to nobody

[2014-03-30 22:43] #34 closed, assigned to tony

[2014-03-30 23:18] ThiefMaster opened #74 "Avoid ugly entry in `ps ux` when tmuxp starts the server"
When using `tmuxp load` with no tmux server running, the server ends up having a _very_ ugly entry in `ps aux` like this:

[code]

It would be nice if tmuxp started a tmux server first, created the new session and then killed  the initial session created by tmux itself. Or maybe the tmux devs could add an option to give the server a nicer process name... that would probably be the better solution.

[2014-03-31 08:04] ThiefMaster opened #75 "start_directory for the first pane is ignored"
It works like this but it'd be much more intuitive if I could set `start_directory` for the first pane instead:

[code]

[2014-04-08 14:48] tony opened #78 "Refactor tmuxp command for unicode, improve exception support / debuggability"
Improve tmuxp command for different engine styles.

Have server, session, window pane objects continue to send tmuxp command, but tmuxp command will become a class which can produce commands individually, in a command sequence #70 , via a .sh script, and potentially via sockets/cython #54.

[2014-08-05 15:53] tony opened #81 "better support for tmux project files"
`config.expand`:
- handle resolving `os.path.expanduser`
- `os.path.expandvars` on config directories

by the time a config gets to `build_workspace`, absolute file directories should already be resolved by `expand`. Update tests and `build_workspace` to factor this.

Have `config.inline` updated to be smarter for those who want to `freeze`.

Update documentation to show how tmuxp works: 1.) expan

[2014-08-11 16:36] JBKahn opened #83 "Support for 256 colors"
I'm not sure how you'd want to implement this in terms or arguments and whatnot. I manually changed ```[which('tmux')]``` to ```[which('tmux'), '-2']``` on line https://github.com/tony/tmuxp/blob/cbf78d442947e7ff801c77d12451a554ad0a2920/tmuxp/util.py#L79 in order to get proper colors in vim.

[2014-08-21 12:21] techtonik opened #84 "Detect tmux<1.4 properly"
`-V` argument was [first added](http://sourceforge.net/p/tmux/tmux-code/ci/master/tree/CHANGES) in `tmux 1.4`. With `tmux 1.3` (Debian Squeeze) `tmuxp` gives the following error:

[code]

[2014-09-05 15:29] Zinglish opened #86 "Allow windows to start up with command"
Been fiddling with tmuxp and I am super impressed with it as I am transferring some legacy Bash scripts to Python for ease of maintenance however I cannot find how to start a window with a command?

Basically I have this line in my script: `tmux -S $SOCKET_PATH new-window -dk -n "$WINDOW_NAME" -t "$SESSION_NAME":"$WINDOW_NAME" "$command"`
Where when the window starts, it is created for the sole pu

[2014-12-01 11:42] ssm2017 opened #87 "error using a startup script"
hello

python : 2.7.3
tmuxp : 0.1.12
tmux : 1.9a

i would like to run my python script as a daemon in a virtual environment.
i am using this script :
http://blog.scphillips.com/2013/07/getting-a-python-script-to-run-in-the-background-as-a-service-on-boot/
then i use : update-rc.d myscript defaults
and then i reboot the machine
all is fine except when running functions using tmuxp
i have this error

[2014-12-03 23:28] rpodgorny opened #88 "no reliable way to detect closed window"
...or at least i don't know any. here's what i do and what fails in tmuxp:

w = sess.new_window(attach=False)
w.tmux('respawn-pane', '-k', 'ls -l /')  # or any other short-lived command
if w in sess.list_windows():
  pass

fails with:

Traceback (most recent call last):
  File "/home/radek/scripts/run_all2", line 206, in <module>
    main()
  File "/home/radek/scripts/run_all2", line 192, in main

[2015-02-13 16:24] nfarrar opened #91 "Pane Attributes & Project Files, & Hook Session Termination"
I'm walked through the tutorial and built the sample configuration stored in ~/.tmuxp, which I load with:

[code]

It's awesome (and tmuxp is awesome, so thank you). I'm trying to figure out a couple next steps, and it seems the documentation is lacking on these subjects (or I'm just dense and missing it, if so, I apologize).

I'm using this configuration atm:

[code]

This gets me going, but then

[2015-03-15 14:32] shaief commented on #83
Thanks! That is a good solution. Is there a way to put it in tmuxp configuration?

[2015-03-15 14:57] JBKahn commented on #83
Could add a way (if none exists) to add a config option but additional args to pass to tmux?

[2015-03-15 14:57] JBKahn commented on #83
For*

[2015-03-23 22:50] thomasballinger opened #93 "send_keys sends space"
I'm confused as to why `send_keys()` sends a space first. If this is intended behavior, it'd be nice to document it. https://github.com/tony/tmuxp/blob/3887bdc87b89a905c9fb6d59a2a03ced83538bf3/tmuxp/pane.py#L84

I'm happy to take a shot at either documenting or fixing, but wondering which is preferred.

Edit: Whoops, perhaps I'm confused. Looking into this more.

[2015-03-24 00:32] tony commented on #93
For the record, the space is added to avoid polluting the user's shell history.  I think that's worth adding to the documentation (either in docs/ or in the code). Are you interested?

[2015-03-25 02:38] thomasballinger opened #96 "blocking send command"
I'd find blocking send command functionality useful. So far I've tried waiting for the window title to change back to the shell, waiting for the shell prompt to appear, and waiting for the cursor to move to a new position / the size of the scrollback buffer to increase by a certain amount. Any thoughts on how this could be implemented?

[2015-03-25 07:21] oschrenk opened #97 "Already inside TMUX, switch to session? Yes, please!"
TMUX is running all day, every day and yes please switch to that session. Is there way to configure tmuxp to always answer this question with yes?

[2015-03-25 18:51] tony commented on #96
@thomasballinger : Are you doing this via Python API (I assume) or config file?

Do you have any report on your progress with these approaches?

[2015-03-25 18:52] tony commented on #97
@oschrenk :   Try to add the ``-y`` flag.   Does that work?

[2015-03-25 18:55] oschrenk commented on #97
It does. I just didn't know about it. Where is it mentioned in the docs. `man tmuxp` or `tmuxp -h` were not that helpful.

[2015-03-25 18:55] #97 closed

[2015-03-25 19:10] tony commented on #91
@nfarrar : Hey there. Sorry for the late response.

If you take a look at:

[code]

Everywhere you see pwd, is just a shell command that's sent into the pane with ``send_keys``. It's the equivalent of typing "pwd" + enter in each pane.

``pwd`` is a shell command. http://linux.die.net/man/1/pwd.

[code]

Here's a stackoverflow post on difference between ``;`` and ``&&``: http://stackoverflow.com/a

[2015-03-25 19:11] tony commented on #93
Way to go @thomasballinger !

[2015-03-25 19:11] #93 closed

[2015-03-25 19:15] tony commented on #97
http://tmuxp.readthedocs.org/en/latest/cli.html#load-session.  It should also be in ``tmuxp load -h``.

That said, starting tmuxp session within another session and the ``-y`` command isn't covered elsewhere in the docs. It seems worth adding to http://tmuxp.readthedocs.org/en/latest/quickstart.html. Are you interested?

[2015-03-25 19:16] oschrenk commented on #97
Sure. Give me some time and I'll send a pull request when I'm done.

[2015-03-25 19:16] thomasballinger commented on #96
I've been using the Python api, here's the helper I'm currently using: https://github.com/thomasballinger/rlundo/blob/master/tmux.py#L59

Waiting for the prompt to appear (when it can be predicted) is the approach I'm using now. Checking the window title doesn't seem helpful because we can only poll it and might miss it changing (if it's even guaranteed that it will change).

[2015-03-25 21:20] tony commented on #96
@thomasballinger : Would it be helpful to you if tmuxp would return the process tree of what's underneath a server / session / window / pane?

PID / process name being ready would give you something solid to poll against.

To give you an idea of the data that could be exposed, do ``pstree -p -a -A | less`` and search (/ key) for ``tmux``.

[2015-04-17 04:30] nfarrar opened #98 "Custom Layout"
I've played around with the premade layouts (main-horizontal, main-vertical) ... but I'm confused on how I can do something more complex with a customized layout. Specifically, I'd like to build the following (I'm doing this with shell scripts ATM and it's a PITA):
![Layout Diagram](http://c1.staticflickr.com/9/8823/17174008155_64a6b2752f_b.jpg)

Using the premade layouts (main-vertical & main-hor

[2015-04-17 14:32] nfarrar commented on #98
Ah! So looking through the wiki I found the `freeze` command. I manually created my layout, then froze it, then adjusted the source and ended up with:

    session_name: tintin
    start_directory: /Users/nfarrar/Dropbox/Projects/mudfiles
    windows:
    - window_name: tintin
      layout: 73b7,272x67,0,0{60x67,0,0[60x33,0,0,1,60x33,0,34,2],150x67,61,0[150x2,61,0,3,150x64,61,3,4],60x67,212,0[60x3

[2015-04-17 14:34] ThiefMaster commented on #98
It's not meant to be understood (or modified - it's even "protected" with a checksum). The way to use it is to arrange a window in the layout you want and then use `tmux display-message -p "#{window_layout}"` to get the layout string.

[2015-04-18 20:39] nfarrar opened #99 "tmuxp fails to load layout in cygwin"
I'm attempting to use tmuxp on windows using cygwin. I fired it up and tried to load a layout that loads fine on windows & linux (the layout is actually stored in a project being synchronized via dropbox between computers) ...

[code]

This generates the following errors:

[code]

Any suggestions?

[2015-04-18 20:40] nfarrar commented on #98
Awesome, thanks for pointing me in the right direction. After looking into tmux's underlying layout feature I get how this works now.

[2015-04-18 20:48] nfarrar commented on #99
There was an error message to set `export DISABLE_AUTO_TITLE='true' in `~/.zsshrc/`, which seems to have been causing some issues (not exactly sure why), but I did set this.

Then from a tmux session (`testsession`) I was able to run `tmuxp freeze testsession`.
When I attempt to load the session `tmuxp load testsession.yaml` I get the following error:

    tmuxp load testsession.yaml

[2015-04-19 07:30] tony commented on #99
@nfarrar
Thanks for the report!

Can you let me know your tmux version, and see your ``testsession.yaml``?

Does your ``.zshrc`` has ``DISABLE_AUTO_TITLE`` set to ``'true'``?

[2015-04-21 09:06] tony commented on #99
@nfarrar : I just took a second glance, cygwin!  I never personally tested against cygwin.  Any additional info such as your terminal, os, cygwin version, etc. would he helpful so we can reproduce the issue.

[2015-05-06 16:06] tony opened #100 "tmux 2.0 support"
https://travis-ci.org/tony/tmuxp/jobs/60598709

[code]

Lots of this.

[2015-05-08 00:04] #100 closed

[2015-05-20 08:59] amonsch opened #103 "TypeError when pane has no 'pane_current_path' key"
[code]

I have somehow managed to not have a current path for a pane in my tmux session.

[2015-05-21 20:22] yegortimoschenko opened #104 "Manuals incorrectly reported as roff"
https://github.com/tony/tmuxp/search?l=groff

Add `.txt` extension to fix that.

[2015-05-22 12:03] tony commented on #104
@yegortimoschenko would you like to make a pull request for it?

[2015-05-23 13:33] #104 closed

[2015-05-29 04:22] itamargal opened #106 "launch tmux from within python application"
First off, I just found this project, but I already think it's awesome; thank you! Is there a (recommended) way to actually launch tmux programmatically from within a Python application? I don't see it mentioned in the documentation, and I don't see any promising methods in the Server class. Apologies in advance if this is the wrong forum for this sort of question.

[2015-05-29 13:49] thomasballinger commented on #106
@itamargal I needed to launch tmux to run some terminal resizing tests in it from Python, here's what I did: https://github.com/thomasballinger/rlundo/blob/master/tmux.py#L145

I'm also curious about a recommended way to do this, but it sounds like you're looking for something like

[code]

[2015-05-29 15:57] itamargal commented on #106
@thomasballinger Thanks for the response. I'm trying to run your code, but I'm getting the following error:

    Traceback (most recent call last):
      File "sandbox/tmux2.py", line 198, in <module>
        with TmuxPane(10, 10) as t:
      File "sandbox/tmux2.py", line 176, in __enter__
        self.server.tmux('set', 'automatic-rename', 'on')
    AttributeError: 'Server' object has no attribut

[2015-05-29 18:33] thomasballinger commented on #106
Whoops, I think I'm running an older version of tmuxp. It's not server.tmux anymore, server.cmd, see http://tmuxp.readthedocs.org/en/latest/api.html#tmuxp.Server.cmd

[2015-05-29 18:46] itamargal commented on #106
Got it. Thanks!

[2015-06-17 14:59] JBKahn commented on #83
This was already supported......I just missed it in the docs the first time (checked back to the version I was originally on):
http://tmuxp.readthedocs.org/en/latest/cli.html#load-session

My bad.

[2015-06-17 14:59] #83 closed

[2015-07-07 11:40] tony commented on #103
@amonsch Do you still get this error?

I'm interested to know what path you were in when you tried to freeze your session. I'd like to be able to recreate this.

[2015-07-09 13:28] stemid opened #111 "pkg_resources.DistributionNotFound: argparse on RHEL-based distros"
[code]

This would seem like a bug in RHEL-based distros but all the fixes I've seen for this have been from package maintainers, and not from the distro.

  * [Example #1](https://github.com/ros-infrastructure/bloom/issues/194).
  * [Example #2](https://bugs.launchpad.net/ubuntu/+source/python-novaclient/+bug/912069).
  * [Example #3](https://bugzilla.redhat.com/show_bug.cgi?id=1206913).

I wish

[2015-07-09 14:10] tony commented on #111
This does seem to be a issue that exists. I have some a bit of digging, but not sure if it's a problem on tmuxp's end of things (or one of it's dependencies) or not.

See also: https://github.com/elastic/curator/issues/56

Does ``pip install -U setuptools`` do anything to help?

[2015-07-09 14:14] stemid commented on #111
Yes it does @tony! Problem solved I think.

I tried first to upgrade setuptools on Fedora 22, and tmuxp sprang to life. Then I tried on RHEL6 and same there, tmuxp started working.

Thanks for your assistance.

[2015-07-09 14:16] bulak commented on #111
Not sure if it's relevant but in your example pkg_resources is loaded from python2.6 where argparse does not exists, min version is 2.7. Upgrading should help with your probem, no?

[2015-07-10 10:34] tony commented on #111
We should probably add something to the docs for Fedora / Redhat / CentOS users who may encounter this problem. A [.. note::](http://docutils.sourceforge.net/docs/ref/rst/directives.html#specific-admonitions) in https://github.com/tony/tmuxp/blob/master/doc/quickstart.rst may be a good spot.  @stemid Want to give it a shot?

[2015-07-16 09:38] billypon opened #114 "Can I load session and don't attach it?"
When I run "tmuxp load my.json", tmux will create a new session and auto attach.
But I don't need auto attach, how could I do?

[2015-07-30 17:50] thomasballinger opened #115 "Use custom tmux executable"
Would there be interest in being able to use a custom tmux executable? I need this currently for the Travis tests for https://github.com/thomasballinger/rlundo in order to use their new architecture that doesn't allow installing a custom tmux with sudo, but was planning to monkey-patch it in unless it's something there's other interest in.

[2015-07-31 06:15] tony commented on #115
Can you give an example?

I'm open to hear anything and give feedback.

[2015-08-01 03:12] tony commented on #114
@billypon  Does adding ``-d`` work?

[2015-08-03 03:52] tony commented on #111
Fixed in #112

[2015-08-03 03:52] #111 closed

[2015-08-04 14:49] fndari opened #116 "Select Tmux options file from Command Line"
I'm trying to create a Tmux session from the command line using a test YAML Tmuxp file :

[code]

I'm able to set the socket name with the `-L` option:

[code]

But I'm unable to specify a _Tmux_ configuration file, i.e. corresponding to the `-f` option when starting Tmux from the shell, or to the `source-file` Tmux command:

[code]

The `config_file` kwarg works as expected when creating the serv

[2015-08-04 19:07] rosshadden commented on #114
`tmuxp load -d my.json`.  You can look in `tmux load --help` for load-specific options.

[2015-08-13 11:38] alem0lars opened #117 "Inconsistent use of tab and spaces"
When building the documentation `make -C doc html` python hangs because `aafig.py` contains mixed spaces and tabs.

This is the error I get:

[code]

BTW I've checked the file and it contains multiple of these mistakes.

[2015-08-23 19:50] tony commented on #117
@alem0lars Nice catch. We should be linting this.

Do you want to do a PR for this?  It could be for indentation, or adding a script to PEP8 the code.

[2015-08-23 19:56] tony commented on #116
@fndari Greetings.

It appears tmuxp doesn't pass through the ``-f`` argument to ``tmux(1)``. Do you want to add this functionality? If not, I can investigate it.

[2015-08-30 13:44] demon386 opened #120 "Doesn't work well with HEAD version of tmux"
When using HEAD version of tmux, I fail to load the second YAML for tmuxp.

E.g.
1. Initially, tmux has no session.
2. tmuxp load xxx.yaml -> OK
3. tmuxp load yyy.yaml ->
[code]
   Actually this session is **NOT** already running.

   Pressing "Y", I got
[code]

[2015-10-13 00:23] pumazi opened #121 "Just installed, "ImportError: cannot import name test_support""
I just installed tmuxp (``pip install tmuxp``). I received the following error when I run ``tmuxp --help`` or anything tmuxp.

[code]

I'm on OS X 10.10 with (homebrew installed) Python 2.7.9.

[2015-10-20 12:38] estin opened #122 "[tmux 2.1] and TmuxSessionExists on tmuxp load pomp.yml -2"
[code]

[Sever.has_session](https://github.com/tony/tmuxp/blob/master/tmuxp/server.py#L314) does not check output **can't find session**

[2015-10-20 19:56] robled commented on #122
I've tested your patch and can confirm that it works with my installation of tmux 2.1

[2015-10-21 07:28] tony commented on #115
Oh, I think I understand what you mean now. Like adding an environmental variable / argument to target a tmux binary?

I'm open to that.  I think environmental variable may be appropriate. What do you think of ``TMUXP_TMUX_BIN``?

[2015-10-21 07:31] tony commented on #121
I've never encountered this (I also run tmuxp on a test machine).

What is your pip version? (`pip -V`)?  Also can I see your `which pip` and `which python`?

How did you install your pip?  Did you use `sudo python get-pip.py` from the official pip site?

[2015-10-21 13:26] thomasballinger commented on #115
Sounds great! Yes, exactly – making the tmux binary discovery overridable.

Does checking https://github.com/tony/tmuxp/blob/master/tmuxp/util.py#L83 for the environmental variables each time seem appropriate?

[2015-10-21 17:00] #122 closed

[2015-10-21 18:33] adambiggs opened #124 "Environment variables not working"
I can't get environment variable replacement working [as described in the docs](http://tmuxp.readthedocs.org/en/latest/examples.html#environment-variables).

To test it out, I tried adding `echo {USER}` as `before_script` and `shell_command_before`, and also tried adding `{USER}` to `session_name` and `window_name`.

But in all cases it's printed back out as `{USER}` without any variable replaceme

[2015-10-21 19:46] tony commented on #124
What system are you running on, python version, tmux version, tmuxp version and etc?

``which tmux; tmux -V; which tmuxp; tmuxp -v; which python; python -V; uname -a; echo $USER``

How are you executing tmuxp (e.g. from Konsole in zsh, calling it from an subprocess in another script)? What shell are you using? If you check the output of `env` does everything look correct?

[2015-10-21 21:01] adambiggs commented on #124
[code]

I'm currently building tmux from master and executing tmuxp manually in zsh running iTerm. Maybe the `_zsh_tmux_plugin_run` alias is the culprit?

[2015-10-21 21:49] tony commented on #124
I used oh my zsh on some machines, but never that plugin. I looked at it and wouldn't be surprised if it were to conflict. Try disabling the plugin, opening a new shell and see what happens.

[2015-10-22 02:02] tony commented on #115
This is a good idea,

@thomasballinger  I'm teetering between that and ``which()`` https://github.com/tony/tmuxp/blob/master/tmuxp/util.py#L246.

Also, have you tried doing ``PATH=/path/to/my/custom/tmuxdir:$PATH tmuxp <cmd>``?

[2015-10-22 02:17] byaruhaf opened #125 "tmuxp crashs on first start with Tmux 2.1"
Hello
i have problem tmuxp on start with tmux 2.1

[code]

when i start tmux with the tmux command directtly
then start tmuxp all works okay.

[2015-10-22 02:24] byaruhaf commented on #125
Error fixed after upgrade of tmuxp, closing issue.

[2015-10-22 02:24] #125 closed

[2015-10-22 03:47] tony commented on #120
we'll switch back travis to test against tmux latest git again

[2015-10-22 04:25] tony commented on #120
Thank you for spotting this!

Regarding your experience in particular, 0.9.2 is updated to work with tmux 2.1.

Our travis builds are testing against tmux' git master once again.

[2015-10-22 04:25] #120 closed

[2015-10-22 18:00] adambiggs commented on #124
Disabling the zsh plugin didn't fix the issue :(

I can confirm the plugin is disabled because `which tmux` is now `/usr/local/bin/tmux`.

[2015-10-23 03:20] tony commented on #124
``zsh --version``

Can I see your config, the command your using to load it and the ``pwd``?

[2015-10-24 00:02] tony commented on #88
(Sorry for the late response.)

This is part of the larger issue of handling concurrency issue between python objects and client-driven interaction.

I'm thinking the most python thing would be to ``try`` and raise a helpful exception if a server / session / window / pane doesn't exist.  I also equally support am fine with ``is_closed`` and even more complicated introspection to see what changed i

[2015-10-24 00:15] tony commented on #74
@ThiefMaster I came back to this issue and noticed the SF link doesn't work (tmux is now on GH).  Do you know if it's backed up on a mailing list somewhere?

[2015-10-29 17:56] thomasballinger commented on #115
I'm using tmuxp as a Python library, but it seems like this would still work. I don't recall if I tried this or not, but it seems like it would fix it and I can't recall a reason I didn't. I'm all for closing until I actually find out this doesn't work, and I'm not going to get to that for a little while.

[2015-10-29 17:58] thomasballinger commented on #115
Maybe it was just seemed messy to change the testing command in the nosetests invocation? This seems like it should be fine though.

[2015-11-04 17:57] mprat commented on #121
I have the same problem:

OSX 10.10, Anaconda Python 2.7.10
Installed pip with homebrew (i.e. brew install python) but then am using Anaconda Python instead.
pip version 7.1.2

[2015-11-04 18:29] adambiggs commented on #124
Sorry for the slow response, just got back from vacation.

I'm using `zsh 5.1.1 (x86_64-apple-darwin14.5.0)`, but I've also tried launching tmuxp from regular `/bin/bash` which didn't help.

Here's the test yml I'm using:

[code]

And `pwd` is just a temp directory in my home folder: `/Users/adam/tmuxp-test`

[2015-11-04 18:50] adambiggs commented on #124
After some trial and error, I got this working by adding `$`:

[code]

Is the missing `$` just a typo in the docs?

[2015-11-04 20:39] pumazi commented on #121
I also have pip version 7.1.2. I don't recall how it was originally installed.

The problem for me is that I have my user site-packages pointing at a virtualenv (for a project that has imports within plpythonu functions). This is where my system is finding the latest version of pip.

I removed the user site-packages synlink, uninstalled tmuxp and reinstalled it. This seems to have corrected the is

[2015-11-05 04:58] tony commented on #121
I haven't recreated it personally yet, I have found this issue can has arisen elsewhere:

- https://github.com/ContinuumIO/anaconda-issues/issues/168
- https://github.com/gevent/gevent/issues/571

[2015-11-06 08:32] tony commented on #124
Nice find. The documentation and example is wrong.  Our testcase makes it look rather confusing because we use python string templates in our test yaml config. We replace them with something similar which also has curly brackets (but adds the ``$``) - to use as environmental variables to be parsed via config expansion.

Your way of doing it is correct.

- https://github.com/tony/tmuxp/blob/master/

[2015-11-06 08:33] tony commented on #124
Edited above. Accidentally mentioned .json file twice.

[2015-12-06 06:02] tony commented on #124
@adambiggs Are you still having this issue?

[2015-12-06 06:03] tony commented on #121
Anyone interested in making a PR for this? @pumazi @mprat

[2015-12-07 16:58] adambiggs commented on #124
Sorry @tony, I forgot to follow up. This has been resolved but I don't have time to submit a PR for the documentation changes right now.

[2016-01-06 13:58] #121 closed

[2016-01-06 14:06] tony commented on #121
@pumazi @mprat:

 tmuxp v0.9.3 is up. Give it a try

[2016-01-07 07:31] githubfun opened #131 "Stability tmuxinator and teamocil are far more stable and well-developed than tmuxp?"
This is only a question, not an issue..

from the documentation.

is it still the case? I am deciding which to choose. Thanks!

[2016-01-09 06:00] #131 closed

[2016-01-24 03:51] tony opened #132 "Session name with dot inside won't load"
If a session is already open, loading a session name with a dot in between will detect the session as already running and offer to attach it.

[code]

[2016-01-24 15:31] madprog opened #133 "Can't give multiple configuration files on command line"
Hello,

I am trying to load several configuration files at once:

[code]

However, tmuxp seems to concatenate them:

Is this a bug or a feature?

[2016-01-25 12:42] tony commented on #133
Neither, it's a functionality that doesn't exist yet.

Interested making a PR? If not I can swing around to it

[2016-01-25 14:26] tony opened #134 "Switch to click for completion"
Refactor cli.py on here and vcspull

https://github.com/mitsuhiko/click / http://click.pocoo.org/6/

Has zsh support now since 6.1 - https://github.com/mitsuhiko/click/pull/286 / https://github.com/mitsuhiko/click/commit/85d1121f2c7a4dc30d61928c6937c499daf1aadd

[2016-01-30 17:26] #133 closed

[2016-01-30 21:31] #124 closed

[2016-01-30 23:09] tony commented on #133
@madprog shipped. 0.10.0 is on pypi

[2016-01-31 05:22] madprog commented on #133
Thank you!

[2016-02-08 16:29] tasdomas opened #136 "tmuxp does not support setting environment variables."
set-environment as well as show-environment don't seem to be part of the tmuxp config schema or API - is there a reason why this is so? Or is this just a feature that has not been implemented yet?

[2016-02-17 22:51] HarleyKwyn opened #138 "When using eval in shell command tmuxp stops"
I have a script with the docker-machine command to set environment variables for docker-machine. When I run the `eval "$(docker-machine env default)" tmuxp stops running any following commands.

Anyone else experiencing this with eval? Is this expected behavior? and if it is, is there a work around?

[2016-02-18 07:26] z opened #139 "Respawning panes and remain-on-exit"
Using YAML, is there a way to respawn a pane and run the commands for that pane again?

I've tried:

[code]

I was expecting when I sent: `respawn-pane -k` for "`ls`" to reload. This is not the case.

Thanks.

[2016-02-18 10:18] tony commented on #139
What version of tmux and tmuxp is this? What shell (bash, zsh, tcsh, etc.)?

I am not familiar with pane respawning. I am interested in your use case however, since it'd help me get familiarized so I can be of more help.

Can you get into more specifics on why you're using respawn-pane/trying to rerun commands again via yaml?

[2016-02-18 22:34] z commented on #139
Many times I'll use tmux to wrap multiple running components of a project, sometimes I will need to restart ones of those components.

For example, if I'm using a web server with a filewatcher and something breaks the watcher. I want to adjust the code that killed the watcher and restart just that pane within my tmux session.

Here is a test case to demonstrate this behavior:

### Setup

##### sta

[2016-03-08 10:47] tony opened #141 "Move .tmuxp.yaml entr/sphinx build to Makefile"
Fix that up

[2016-03-08 10:49] tony commented on #138
Is this inside a tmuxp config file? Or with the python API?

``tmux -V``, ``tmuxp -v``, ``echo $SHELL``?

Could you show the code you're using to reproduce this?

[2016-03-08 16:10] HarleyKwyn commented on #138
With the tmuxp config file.

It's something like
[code]

Something like this. the `docker-compose up -d` command never runs

If you have docker toolkit installed a script like this will work if you create a docker machine named default.

I'm on a Mac Book Pro running El Capitan

Thanks for looking into this!

[2016-03-12 02:47] tony commented on #139
Is tmuxp preventing this?  I'm trying to determine if this is a general tmux question, a bug or how you would approach this problem with tmuxp?

I haven't used the respawn behavior before.

What file watcher are you using? I haven't add this exact itch to scratch, but for similar things, I'll wrap it in ``entr(1)`` or a supervisor process (if up time was critical). It it was a supervisor process,

[2016-03-12 02:52] #141 closed

[2016-04-26 12:58] ikirudennis opened #142 "Add new-window command functionality"
Firstly, this project is pretty nice.

One feature of tmux I use frequently is the ability to start a new window with a command.  For instance, this is helpful with working in virtual environments in python.  I typically run `new-window -n name 'pew workon venv_name'` to launch a new window with the virtual environment activated.  This way, I don't have to exit twice to exit the window.  When I ex

[2016-05-06 15:44] kmactavish opened #143 "Alternative tmux command (i.e. byobu)"
I didn't see any mention in the docs of being able to specify the tmux command.

`tmuxinator` lets you specify the command with
`tmux_command: byobu`

Is tmuxp compatible with byobu (which supports the same interface as tmux)? And if so, how is it specified? If not, consider this a feature request ;).

[2016-05-12 15:36] kmactavish opened #144 "Do output bash/zsh commands to history"
This issue references #46 as a regression.

Unfortunately, I'm on the other side of the fence. I want the bash history to be populated, in case the command fails and I need to run it again. Omitting the space in the configuration file results in a yaml error:
[code]
Right now as a workaround, I'm appending to the history, and running the last command:
[code]
but this is clearly not ideal.

My sugg

[2016-05-13 01:14] kmactavish commented on #142
The code you added will only run the command once on building the workspace, after that, any new panes/windows won't be run with this command. This functionality was already available though `shell_command_before`.

Maybe you want to add tmux key bindings? That will let any new windows/panes you open run a given command when they open.

In order to have the whole session live inside a virtual envi

[2016-05-13 01:15] kmactavish commented on #142
Moved my comment to #145, but I don't think there's any action to be taken by tmuxp to resolve this issue.

[2016-05-13 01:24] kmactavish commented on #143
If you run tmuxp from within a byobu session, and select `Yes' when it asks you to switch, all is well.

[2016-05-13 01:24] #143 closed

[2016-05-13 01:32] tony commented on #143
It could be worth documenting if you like. If you bumped into it, I'm sure other byobu users could find it helpful. :)

[2016-05-13 01:53] kmactavish commented on #139
I think that [this stackexchage post](http://unix.stackexchange.com/questions/17116/prevent-pane-window-from-closing-when-command-completes-tmux) covers what is known on this topic.

[2016-05-16 06:06] #144 closed

[2016-05-16 20:28] tony commented on #142
Merged in #145

[2016-05-16 20:29] #142 closed

[2016-05-17 00:09] z commented on #139
@tony my apologies, I missed your previous message notification.

To clarify, this is a tmux behavior that I would like to be able to set in a tmuxp YAML definition.

I would like to be able to set a session, window or pane to "remain-on-exit".

In my test case above, I was intending to show the result of a pane remaining open with an exited script. The pane could be dead for any number of reasons

[2016-05-17 00:33] z commented on #139
I have updated my test case with more information.

[2016-05-22 11:18] nudomarinero commented on #143
I would like to call attention to this issue again. Although it is true that manually selecting Yes within a byobu session allows to run tmuxp in byobu there are a couple of caveats:
* You have to manually interact with the system to create the byobu session and them answer to the prompt with a yes (although this could be solved using, for example, "yes | tmuxp load test.yml"). If you are using tm

[2016-05-22 11:43] tony commented on #143
@nudomarinero @kmactavish what do you use byobu for? what does it give you over tmux/screen?

@nudomarinero  @kmactavish Can you give me more info about how you specifically work with byobu / tmuxp?

I'm still not sure if this is an issue with byobu or tmux, or if its a bug or not

[2016-05-22 13:34] kmactavish commented on #143
**TLDR** byobu looks nicer than default tmux. To use it, have a byobu session running somewhere before loading with tmuxp (don't have to load it from within to get most functionality). Official support looks tricky.

byobu gives you nice looking decorations with no configuration:
![nice looking decorations](http://byobu.org/img/Screenshot_from_2014-07-26_15:39:16.png)

rather than the (semi stock)

[2016-05-22 13:43] kmactavish commented on #143
P.S. If someone wanted to try to get it working, I would be happy. Might be an easy fix if I missed something obvious. You just change the `tmux` command to `byobu` in a couple of spots, and should start to see the weird ANSI behaviour.

[2016-05-22 16:58] fpietka commented on #117
It seems this issue has been fixed already

[2016-05-22 17:09] fpietka commented on #52
This is the case now, so it seems this issue can be closed.

[2016-05-22 17:48] tony commented on #117
In master, yes, we had a huge cleanup.  We have ``make flake8`` and ``make watch_flake8`` too

closing this issue.

[2016-05-22 17:48] #117 closed

[2016-05-22 17:55] tony opened #154 "Use releases for changelog"
http://releases.readthedocs.io/

[2016-05-22 17:56] tony opened #155 "Split up python API to libtmux in readthedocs"

[2016-05-22 18:23] tony commented on #52
Thank you @fpietka !

[2016-05-22 18:23] #52 closed

[2016-05-22 18:39] nudomarinero commented on #143
My plan is to automatically launch commands in several remote systems within byobu (or tmux if that is not possible) sessions using tmuxp. I am developing a pipeline and some steps of the commands can fail. It is very useful for debugging purposes to enter a byobu session and see what happened, etc. I prefer tmux or byobu to screen and, for me, byobu is like tmux with sugar and nice key mappings t

[2016-05-23 11:16] tony commented on #155
#153 #156 #152

[2016-05-23 11:16] #155 closed

[2016-05-23 11:17] tony commented on #154
Done #156

[2016-05-23 11:17] #154 closed

[2016-05-29 11:16] fpietka opened #158 "Expand help doesn't work with Python 3.4"
I'm on OSX, although it works fine when I force Python 2.7, when using 3.4 I get this stack:
[code]

to reproduce I just have to call `tmuxp` without any argument within the virtualenv.

[2016-05-29 11:30] tony commented on #158
I cannot reproduce.

[code]

Can you try upgrading your python from 3.4.2 to 3.4.4?

[2016-05-29 12:09] fpietka commented on #158
I just did the upgrade, and I have the same issue with 3.4.4 and 3.5.1:
[code]

[2016-05-29 12:13] tony commented on #158
try ``pip install argparse``

does that fix it?

[2016-05-29 12:41] fpietka commented on #158
No, but in this case it doesn't seem to use the venv version for some reason... I'll look into that point

[2016-05-29 12:50] tony commented on #158
I am not sure if this is a tmuxp issue or an environment issue at this point.

Can you try to `pip install -U setuptools tmuxp` outside virtualenv, and try to install tmuxp in a fresh virtualenv?

Are you sure you're sourced in the virtualenv ?  via ``.`` or ``source``?

[2016-05-29 13:30] fpietka commented on #158
nothing is working...
seems to be related to homebrew install of python ...
I need to sort it somehow, but it isn't related to tmuxp.

[2016-05-29 15:48] fpietka commented on #158
@tony just to be sure, I tried on a debian with vagrant. I could reproduce with `tmuxp -h`.

[2016-05-29 19:35] tony commented on #158
@fpietka can you give me step by step instructions in how you encounter this error so I can try to reproduce on my end?

[2016-05-29 20:48] tony commented on #158
Okay I see it now.

[2016-05-29 21:38] fpietka opened #160 "Load/import configuration without the use of the extension"
Would be nice to be able to load (or import) configuration without having to write the extension:
[code]
instead of
[code]
also for import:
[code]

[2016-05-29 21:42] tony commented on #160
It'd be better if tmuxp could just load from tmuxinator configs.  the good news its import gets us a lot of the way there.

[2016-05-29 21:48] fpietka commented on #160
worked like a charm for me 👍

[2016-05-30 06:47] tony commented on #134
#160, #158

Let's switch to click.

[2016-05-30 06:53] tony commented on #115
@thomasballinger This is fixed now in www.github.com/tony/libtmux, ``PATH`` is now respected.

[2016-05-30 06:53] #115 closed

[2016-05-30 20:53] tony opened #162 "tmuxp doesn't offer to attach session if one exists"

[2016-05-30 20:59] #162 closed

[2016-05-31 22:36] tony commented on #158
#164 huge overhaul of cli spaghetti code underway.

[2016-05-31 22:41] tony commented on #160
#164

It is more flexible than ever.  In addition to being able to load up configs by name from any dir. You can also target directories that contain ``.tmuxp.{json,yml,yaml}`` relatively and absolutely.

If you want to test it, its in the https://github.com/tony/tmuxp/tree/click branch.

[2016-05-31 22:44] tony commented on #160
I don't know of teamocil/tmuxinator's conversions are good enough to load directly.  I don't think the behavior would be 100%, it's probably at about 80-85% atm. I need to double check things like ``pre:`` get translated and behave like they would on tmuxp.

[2016-06-01 19:10] #134 closed

[2016-06-01 20:50] tony commented on #160
@fpietka landed in v1.1.0 on pypi now

[2016-06-01 20:50] #160 closed

[2016-06-01 20:50] tony commented on #158
Switched to click, this should be solved

[2016-06-01 20:50] #158 closed

[2016-06-01 20:59] fpietka commented on #134
working fine, thanks 👍

[2016-06-01 22:12] oschrenk commented on #160
Sweet. I was actually about my own fish script to do this. Thanks for the great work!

[2016-06-01 22:12] tony commented on #139
@z The thing is I just don't use this part of tmux.

I just used the yaml file from your original post https://github.com/tony/tmuxp/issues/139#issue-134501174

tmuxp is setting ``remain-on-exit`` to ``on``.

[code]

Are you correctly seeing the window option when you load a tmuxp config?

[2016-06-02 08:44] dentuzhik opened #166 "Bash completion missing from repo and docs"
I can't find the file (tmuxp.bash), and link in the docs also missing.
Any other ways I can setup completion?

[2016-06-02 13:05] tony commented on #166
We can add it back. We switched from argparse to click in 1.1.

Which completions did you use?

Do you load your sessions via project directories (.tmuxp.yaml, .tmuxp.json) or via ~/.tmuxp/?

[2016-06-02 14:39] tony commented on #166
``eval "$(_TMUXP_COMPLETE=source tmuxp)"``

Does that work?

[2016-06-02 16:54] tony opened #167 "When attaching multiple sessions, all except last should be detached"

[2016-06-02 17:20] #167 closed

[2016-06-02 19:32] dentuzhik commented on #166
Yep, it works, thanks! Added this to my dotfiles:
[code]

[2016-06-02 21:03] tony commented on #166
That snippet is nice @dentuzhik , what to make a PR to add it ``cli.rst``?

[2016-06-03 07:56] dentuzhik commented on #166
Yep, will do that shortly

[2016-06-10 15:26] captainwasabi opened #168 "How do I close the pane when the command exits?"
I want ranger to start up in a pane.  No problem.  But when ranger exits I want the pane to exit too.  How do I do this?

[2016-06-10 17:14] captainwasabi commented on #168
nevermind.

Just for historical purposes this was solved by
panes:
- focus: true
  shell_command: 'ranger; exit'

QED

[2016-06-10 17:14] #168 closed

[2016-06-13 18:52] fpietka commented on #75
Not sure this is considered as related, but `start_directory` for the project doesn't change the starting folder of new windows.

[2016-06-13 21:22] tony commented on #75
@fpietka New windows created by tmux *after* tmuxp is finished loading?

[2016-06-13 21:54] fpietka commented on #75
Yes. It still starts in the folder we typed the command, regardless of the `start_directory`

[2016-06-14 05:32] tony commented on #75
@fpietka can you give me an example of the config you are using and the current behavior vs expected behavior so I can be sure?

[2016-06-15 11:11] sublimino commented on #65
@Azrael3000 setting default-shell and default-command suppresses this behaviour:

    - shell_command:
      - tmux set-option -g default-shell /bin/bash
      - tmux set-option -g default-command /bin/bash
      - <some command>

[2016-06-15 12:25] tony commented on #65
@sublimino @Azrael3000

Does this work?

[code]

As of yet, I don't see an example to set global options, if it doesn't work, we'll add it in.

[2016-06-15 12:47] sublimino commented on #65
@tony I'm afraid not, it still results in a new pane spawning bash-in-bash

[2016-06-16 03:37] tony commented on #75
@fpietka I think that behavior to tmux changing.

Set options in your tmux config (https://github.com/tony/tmux-config/blob/master/.tmux.conf)

[code]

[2016-06-16 03:38] tony commented on #75
@ThiefMaster Do you still get that behavior in the issue you mentioned? I am able to load that yaml and /private/tmp/test1 shows in the first pane.

[2016-06-16 06:24] tony commented on #65
@sublimino @Azrael3000  ``pip install -U tmuxp`` to 1.2.0... does it work now?

[2016-06-16 06:25] tony commented on #65
You can also set it as a global (server-wide, all sessions) option:

[code]

[2016-06-16 10:25] sublimino commented on #65
@tony loving the responsiveness on this, thanks!

with 1.2.0 both `options` and `global_options` have the desired effect :grinning:

FWIW only `default-command` is required to suppress the duplicate-shell behaviour in this ticket.

[2016-06-16 18:18] adambiggs opened #170 "[Feature Request] Combine windows from multiple `.tmuxp.yml` files into a single session"
The app I'm working on uses a microservice structure, so the code is spread across 8 different Git repos. On any given day I might be working in 4-5 repos, or I might only be working in one.

Currently I have a parent directory for the whole app that contains a subdirectory for each repo, and a single `.tmuxp.yml` file that launches a window for each repo. So I always have 8 tmux windows running,

[2016-06-17 13:27] fpietka commented on #75
I'm currently trying to mimic tmuxinator behavior on this.

If I may suggest another approach (and I didn't dig enough yet to see what it would imply in terms of code in tmuxp), the root `start_directory` can become default if the server is started, then if we attach the session with the `-c` option:

[code]

Let me know what you think about that.

[2016-06-24 15:09] JBKahn opened #171 "tmuxp pass args to tmux"
Is there a way (can't find any) to pass an arbitrary arg to tmux? I want to pass `-CC` but I don't see an easy way to do that and I'm not familiar with the packages you're using so I'm not sure where in the code this would have to be.

[2016-06-24 16:00] tony commented on #171
I need to know what behavior you're looking to get to be sure.

I believe [``load_workspace``](https://github.com/tony/tmuxp/blob/68e639e/tmuxp/cli.py#L207) and [``command_load``](https://github.com/tony/tmuxp/blob/68e639e/tmuxp/cli.py#L452)

I can add a ``-C`` and ``-CC`` option to pass those arguments after the building is complete and you attach the session.  Is that what you're looking for?

[2016-06-24 17:28] JBKahn commented on #171
This is the integration I'd like to make use of, but it seems somewhat complicated. I don't know if it matters that it launches a new terminal to do this:
https://gitlab.com/gnachman/iterm2/wikis/TmuxIntegration

[2016-06-26 14:05] #166 closed

[2016-06-26 15:27] tony commented on #166
@dentuzhik do you still want to make a PR for this ?

https://github.com/tony/tmuxp/edit/master/doc/cli.rst

[2016-06-26 15:33] dentuzhik commented on #166
I can do this, but as far as I can see you've already added a section about the completions :)
https://github.com/tony/tmuxp/blob/master/doc/cli.rst#completion

[2016-06-26 16:32] tony commented on #166
@dentuzhik You can wrap the ``if`` statement :)

[2016-06-28 20:40] godlike64 commented on #75
Affected by this too. Getting the exact same behaviour as @fpietka described: my config file's _start_directory_ (on the root of the yml file) is effectively ignored when creating a new window after attaching with the 'tmux' command.

I have been driven nuts, since this appears to be related to the tmux-1.9 change in eliminating default-path and related stuff. I *don't* want to open new windows wh

[2016-06-29 00:54] tony commented on #75
@godlike64 Can you give me an example of the config you're using, as well as ``tmux -V``, ``echo $SHELL`` and bash/zsh/etc. version?

Yes, you would have to edit ``.tmux.conf``.

I do miss this old behavior.

That is behavior that happens while running tmux.  It may be best to file an issue there for this and see what they think.

I miss default-path a lot...

[2016-07-04 12:29] kcwu opened #172 "tmuxp assertion error with tmux master (pane index)"
after https://github.com/tmux/tmux/commit/00cf5fbde6d846a10804447204dd55e8c3a68dbd
the pane index may change after window split.

If there are two panes and their ids are 0 and 1. If calling libtmux's split_window() without specifying "target", libtmux will split pane 0. The result indexes are 0,1,2. Which means, new pane's id is 1 and previous pane's id changed from 1 to 2.

In old version, the i

[2016-07-04 19:36] tony commented on #172
nice detective work @kcwu !

What version of tmux do you encounter the error on?

[2016-07-04 19:36] tony commented on #172
If its 00cf5fb, I guess its just HEAD?

[2016-07-05 01:50] kcwu commented on #172
yes, i'm using HEAD.

[2016-07-05 02:33] tony commented on #172
Roger.  not in 2.2 and under I assume then?

Interested in taking a try at a fix?

[2016-07-05 05:36] kcwu commented on #172
Yes, 2.2 is good. Glad to try a fix.

[2016-07-05 08:23] tony commented on #172
Give it a shot @kcwu !

[2016-07-05 08:24] tony commented on #172
@kcwu Is that as in you want to make an attempt at writing a fix yourself?

[2016-07-05 10:44] kcwu commented on #172
Ah, I misunderstood. I'm glad to try if you have a fix ;)

[2016-07-07 18:50] JBKahn commented on #171
not necessary, I can just create it with `-d` then attach and all works.

[2016-07-09 10:22] oschrenk opened #173 "macos sierra, can't load sessions"
[code]

This is actually an underlying [tmux 2.2 issue](https://github.com/tmux/tmux/issues/475) but it might be good to have people know that at the moment tmuxp is not behaving as expected on macOS 10.12.

[2016-07-09 10:24] oschrenk commented on #173
Crossposting this from [here](https://github.com/tmux/tmux/issues/475)

[code]

worked for me

[2016-07-09 10:24] #173 closed

[2016-07-11 20:36] Ch00k opened #174 "kill-session gone?"
The `kill-session` command was quite convenient, but I noticed it was removed in 58c0cc0c2767a435bfe102b9d674b6ea3a3e7898. Is there a reason for removing that? Can I substitute it with any other command?

[2016-07-21 16:17] tony commented on #174
Yes, it is gone.

We can add it back if you found it to be useful.

How did you use ``kill-session``?  Was it when within a tmux session?  What made the command more convenient that tmux's ``kill-session``?

[2016-07-21 18:21] Ch00k commented on #174
I think I can live with tmux's `kill-session` 😃

[2016-07-21 18:21] #174 closed

[2016-07-26 11:39] thiagodebastos commented on #173
@oschrenk Hey there, I'm very new to tmux and landed here looking for a fix to this very issue. Where did you add that export? Just in `tmux.conf`?

[2016-07-27 05:23] oschrenk commented on #173
No. You have to set in your terminal If you use bash, which I presume yu can do that in your .bash_profile file.

See also here: http://stackoverflow.com/questions/14524590/how-to-add-export-statement-in-a-bash-profile-file <http://stackoverflow.com/questions/14524590/how-to-add-export-statement-in-a-bash-profile-file>

[2016-08-15 23:36] oblitum opened #176 "ERROR:libtmux.session:list index out of range"
For the following session file (`~/.tmuxp/mail.yaml`):

[code]

I'm getting

[code]

I'm on ArchLinux using the AUR package: https://aur.archlinux.org/packages/tmuxp.

[2016-08-15 23:38] oblitum commented on #176
By the way. I'm trying to load the session but I'm already inside an existing one.

[2016-08-15 23:42] oblitum commented on #176
Regardless, the issue also happens when trying to load the session by name while not being inside a tmux session already.

[2016-08-16 03:04] tony commented on #176
how have you been @oblitum

whats the ``tmux -V``?

[2016-08-16 03:07] oblitum commented on #176
@tony hi, I'm ok thanks ;-)

the AUR package I'm using is based on the latest tag, 1.2.0.

[2016-08-18 12:09] animeshb opened #177 "tmux creating an additional pane"
I am using tmuxp to create a tmux session in my cygwin terminal. The first window is having one additional pane created.

![tmux-session yaml](https://cloud.githubusercontent.com/assets/1550696/17773138/81cbebe6-656a-11e6-9be8-1d0e3b64fc64.png)

This is the tmuxp session yaml file I use:
[code]

What am I doing wrong?

[2016-08-18 12:13] animeshb commented on #177
I don't load the session automatically from `.bashrc`. I run this command when I load cygwin:

`$ tmuxp load tmux-session.yaml`

[2016-08-18 15:36] tony commented on #177
What's the ``tmux -V`` and ``tmuxp -v``?

[2016-08-18 15:38] tony commented on #177
Also, as a note, never tested tmux/tmuxp in cygwin. Not sure if it'd be a diff.

[2016-08-19 07:05] animeshb commented on #177
$ tmux -V
tmux 2.2

$ tmux -V
tmuxp 1.1.1

Only the very first time I loaded this session file, it showed with 4 windows without panes as expected.

[2016-08-24 09:26] animeshb commented on #177
Hey. I figured out that this was happening when I open cygwin as non-admin user. The session file was created and loaded first time when cygwin was opened as admin.

[2016-08-24 09:26] #177 closed

[2016-08-24 09:42] tony commented on #177
Glad you got it figured out @animeshb, nice !

[2016-09-15 16:12] DXist commented on #122
I reproduce this issue when I answer 'yes' to '... is already running. Attach? [Y/n]:'

Traceback
[code]
tmux version is 2.1
tmuxp version is 1.2.0

[2016-09-15 16:13] DXist commented on #132
+1

[2016-09-15 16:14] DXist commented on #122
Sounds like the reason https://github.com/tony/tmuxp/issues/132

[2016-09-15 18:33] tony commented on #132
originally I thought it was due to ``fnmatch(3)``'s period grabbing, its more of an issue with tmux itself.

Related thread from tmux-users list: https://www.mail-archive.com/tmux-users@lists.sourceforge.net/msg05759.html

tmux treats periods in sessions as invalid:

[code]

[2016-09-15 19:43] DXist commented on #132
It's an interesting point. I guess it's possible to handle troubles with tmux invocations at `libtmux` level and raise more meaningful exception.

[2016-09-16 21:17] #132 closed

[2016-09-17 06:34] oblitum commented on #176
Same on 1.2.1.

[2016-09-17 17:42] tony commented on #176
What's the ``tmux -V``/tmux version? the ``~/.tmux.conf``/tmux config?

[2016-09-17 17:45] oblitum commented on #176
- `tmux -V`: 2.2
- `~/.tmux.conf`: <https://github.com/oblitum/dotfiles/blob/archlinux/.tmux.conf>

[2016-09-17 17:48] tony commented on #176
See if removing this allows it to load:

[code]

Make sure you save and exit tmux fully (`killall tmux` if you have to)

[2016-09-17 17:50] oblitum commented on #176
No, still get the same issue.

[2016-09-17 17:51] tony commented on #176
What about this one:

[code]

Destroying unattached sessions would break tmuxp, since building workspaces happens via sending commands to a detached session.

[2016-09-17 18:01] oblitum commented on #176
Yeah! It's working now. So, since that's the culprit, let's try moving for the best resolution for this. First, why I'm using `destroy-unattached`: personal preference, generally when I close all terminals attached to a tmux session I want the session to simply vanish. When I want to enter another session what I do is, I do `<tmux-prefix>:new-session -s foo`.

I've noticed that if I create a new s

[2016-09-17 18:12] tony commented on #176
That's the first time I heard this usage. Since many use multiplexers specifically so sessions persist when all clients are detached.

Regarding this, libtmux/tmuxp could detecti ``destroy-unattached``, and if its on, switch it off while tmuxp builds the session, then turn it on after its done building.

That is intended behavior, if a session name already exists, rather than building the session

[2016-09-17 19:00] oblitum commented on #176
With `destroy-unattached on`, when all terminal emulators are closed, the session still lives on. If I open a new terminal emulator it can attach to the still living session. What differs is the case I close all panes and windows inside the tmux session, then it just dies, which I have been preferring to happen for a long time.

Well nice! I guess that's a good solution.

Ah, OK, I didn't realize

[2016-09-21 23:36] tutuca opened #180 "Silence sell_command_before output"
Say I want to activate my virtualenv for a window. I thought of doing somethinge along this lines:

[code]

This config pollutes the terminal with the output of `workon tutuca`

![image](https://cloud.githubusercontent.com/assets/70032/18732473/c6e3886c-8039-11e6-841b-16bfc9c98fde.png)

Is there a way to skip the output (other than redirecting it to /dev/null)?

Also the variable substitution is n

[2016-09-25 23:15] oblitum commented on #176
I've stopped using `destroy-unattached on` but, I guess supporting it or detecting it with a warning somehow should be welcome. So I'm leaving this open.

[2016-09-25 23:17] tony commented on #176
@oblitum you changed your avatar, wasn't it a pearl jam one before

open to creating a patch / tests? ``WorkspaceBuilder`` could offer a warning, or it could set ``destroy-unattached`` to ``off`` while it runs.

[2016-09-25 23:22] oblitum commented on #176
@tony yeah indeed. I notice you changed yours too, wasn't it yourself in jackets before the heaven trigram?

Humm, sorry but at the moment I'm a bit lazy and busy. Maybe I do a pull at random time in future.

[2016-09-26 08:56] tony commented on #180
You could try to do a ``reset`` or a ``C-l``, either of those help?

[2016-09-30 15:56] adambiggs commented on #172
Tmux 2.3 is now out, which is what brought me here. There's going to be a lot of others coming here soon 😅

[2016-10-01 11:49] tony commented on #172
Give 1.2.2 a shot

[2016-10-03 17:24] adambiggs commented on #172
Problem solved in 1.2.2. Thanks @tony!

[2016-10-11 23:43] borisjoffe opened #183 "Session name with number at end won't load"
tmux 2.3
tmuxp 1.2.2

Repro steps:
- Freeze a current tmux session
- Change `session_name` to `test` in the yaml file
- Duplicate the yaml file
- Change `session_name` to `test2` in the duplicate file
- Use tmuxp to load `test2` in a terminal window
- Use tmuxp to load `test` in a different window

Expected result:
- Both sessions load

Actual result:
- Second session shows message "test is alread

[2016-10-20 18:42] k4nar opened #184 "Environment variable not set when launching session from tmux"
Hello,
I have several tmuxp configuration files using `environment` to pass an env variable to the created session.
When I launch them from a terminal, the environment variables are set. But when I launch them from a running tmux session they are not.

Do you have idea what's causing this behavior?
### Failing testcase

[code]

Running `tmuxp load -y test.yml` shows `FOO=bar`, whereas launching th

[2016-10-24 07:16] Lokiiiu opened #185 "Server() module is not defined"
I import tmuxp library in a python code, where I use the 'Server()'. but when i run that code it shows error:  module object has no attribute Server. then I listed the all tmuxp functions there is no module named Server().

So, is problem is in installation or tmuxp has no Server() function?

[2016-10-24 23:18] tony commented on #185
Where did you find the example to use tmuxp like this?

If you want to interact with ``Server`` via python, that functionality now exists in [libtmux](https://github.com/tony/libtmux).

[2016-10-25 18:10] Lokiiiu commented on #185
yes I am interacting with python.

but i got again some problems
it doesn't recognize findwhere()

code:
#!/usr/bin/env python

import libtmux

def tmux_init(devices, session_name):

    #start server
    server = libtmux.Server()

    #find the session created by the init script
    session = server.findWhere({ "session_name": session_name })

    #rename the first window
    session.list_windows

[2016-11-01 10:40] romabysen commented on #184
I have noticed the same issue and I think it is due to the workspace  being built in the current (or non-existing when outside tmux) session instead of the new one.

[2016-11-04 13:59] Kidlike commented on #75
This is still present in 1.2.0. I'm guessing it hasn't been fixed yet.
Anyone working on this ?

[2016-11-04 14:07] fpietka commented on #75
I started to try something about it at the time, but didn't had much time to pursue.

The thing is tmuxinator (last time I checked) worked with the same tmux version. My guess is they are mimicking old tmux behavior.

Since then I got lazy (and had work) so I took the habbit of changing my working folder before launching tmuxp.

Nonetheless I still think we should try to work on that. If I find so

[2016-11-04 14:19] Kidlike commented on #75
Changing the directory before launching tmux isn't always gonna work.

For instance this is a session I use with a workaround of issuing a `cd` for the first pane of each window:
[code]

[2016-11-09 07:53] mcchrish commented on #116
Indeed, having an option to specify tmux configuration file would be useful.

[2016-11-09 12:32] maljac opened #187 "Only first window name considered"
Hello,

when I create a new session `tmuxp load example` only the window name for the first window is considered. All other windows get the name of the shell (`zsh` or `bash`, depends on my default shell).

Config File:

[code]

Starting tmux via `tmuxp load test` (test.xml in ~/.tmuxp) results in 3 windows: `dev_env`, `zsh`, `zsh`.

My ~/.zshrc has the suggested entry at the end:

[code]

My Envi

[2016-11-09 14:06] KibaFox opened #188 "Can't open documentation menu on mobile browser"
When I view the documentation at https://tmuxp.readthedocs.io/en/latest/ on a mobile browser, I cannot open the menu because the "Fork me on GitHub" banner is covering the control.

![screenshot_2016-11-09-08-43-19](https://cloud.githubusercontent.com/assets/16481032/20140704/a44a6af4-a65a-11e6-8db1-372cab57eec8.png)

Although the hamburger menu button is visible, it's actually covered by the invi

[2016-11-09 22:56] BlitzKraft commented on #183
I have a similar issue, when the window title is empty.
[code]

[2016-11-10 04:13] BlitzKraft commented on #183
I found a work-around by running `tmux rename-window ''` in one of the panes in the specified window. That works for me. Not as elegant, but achieves what I want.

[2016-11-13 11:18] #188 closed

[2016-11-13 12:10] tony commented on #188
Fixed here and across libtmux/vcspull/libvcs

Thanks for catching this

[2016-11-13 16:53] rakanalh opened #190 "zsh - (eval):8: command not found: complete"
I am using Zsh and i've added
`eval $(_TMUXP_COMPLETE=source tmuxp)` as in documentation. However, i get this error when i source my zshrc file.

Seems like complete is not compatible with zsh. The solution was to add:
[code]
To my zshrc file, maybe that should be documented and/or a zsh compatible version of `complete` is provided.

Thanks

[2016-11-14 07:53] maxekman commented on #171
It would be nice to be able to pass flags to tmux on startup. I would like to use it for iTerm integration like @JBKahn. I think it is reasonable for tmuxp to allow it as one of its purposes is to make it easy to start and use sessions. `tmuxp load -d file.yaml && tmux attatch -t session` is a bit too long when it could be done like `tmuxp -CC load file.yaml` for example.

[2016-11-14 12:40] KibaFox commented on #188
Perfect! Thank you!

[2016-11-21 23:21] von commented on #190
For zsh, I believe instead of:

we want:

[2016-12-01 10:20] abeyer opened #192 "test_suppress_history fails due to shell prompt"
I'm seeing test_suppress_history fail consistently due to the bash prompt string being captured as part of the line in sent_cmd that is compared with the history.

Ideally it seems like you'd want something cleaner than trying to parse lines from capture-pane for this test. In the meantime, I'm just using .endswith() to compare them, to ignore any prompt string that shows up there.

[2016-12-07 04:00] maple-leaf opened #194 "maybe `import` can be more convenient"
when `tmuxp` import `yml` file from `tmuxinator`, the output will like this:

[code]

I think `!!python/unicode` is useless, cause when I remove it later, tmuxp can load the converted project configure properly.

And then second step for saving is a little wired:
1, it give the path to current directory instead of `$HOME/.tmuxp` (And I think this folder should be create d automaticlly when not exi

[2016-12-07 15:44] tony commented on #194
Thanks for your feedback. It's very much appreciated.

I don't even know how that's popping up, our test suites aren't indicated it. Placing ``python/unicode`` in the yaml is not expected behavior.

 I'm interested in knowing your OS, `python -V`, `tmuxp -V`, `tmux -V` and `pip show pyyaml`.

[2016-12-08 01:59] maple-leaf commented on #194
OS:  OS X Yosemite 10.10.4

python -V: Python 2.7.6

tmuxp -V:  `tmuxp 1.2.2`

tmux -V : `tmux 2.1`

pip show pyyaml

[code]

[2016-12-08 02:05] tony commented on #194
https://stackoverflow.com/questions/1950306/pyyaml-dumping-without-tags

``safe_dump`` may help, but it may cause issues with unicode.

Interested in making a pull request for this?

[2016-12-08 02:24] maple-leaf commented on #194
I just know very little knowledge about python, so I think I can't do the task so far. sorry :(

[2016-12-08 04:56] tony commented on #194
I will take this on, then.

[Donations](https://www.git-pull.com/support.html) are always appreciated! They help fund my development on this project.

[2017-01-10 15:09] rosshadden opened #198 "Doesn't work with python-click > 6.6"
I get an error when trying to use `tmuxp` that makes me think it is requiring exactly click==6.6.  My system has click 6.7.1.

Here is the error:

![2017-01-10-10 07 45](https://cloud.githubusercontent.com/assets/669012/21811209/dd63c3c4-d71c-11e6-9c26-56db3d3adf25.png)

[2017-01-12 02:54] thebopshoobop commented on #198
This error is fixed by [this commit](https://github.com/tony/tmuxp/commit/9c3d0dc16aced8ee4bff8f42725ddaeb3e265929). You can fix this problem by manually editing your local requires.txt file, which if you're running Arch is here: /usr/lib/python3.6/site-packages/tmuxp-1.2.3-py3.6.egg-info/.

This is the second time this week that updated packages have caused tmuxp to stop working for me. I underst

[2017-01-12 19:24] rosshadden commented on #198
@thebopshoobop Thanks, that did indeed work.  And I am running Arch, too :D.

I really do think it should be >=, but I'm kind of an outsider to the python package ecosystem, and not sure if they have good support for semver resolving.

[2017-01-12 19:26] rosshadden commented on #198
Actually the fact that it's not even a semver version means no, at least in this case...  I guess I meant it more generally than semver, as in I don't know if python packages have a good solution for managing dependency versions.

[2017-01-13 23:49] tony commented on #198
@rosshadden @thebopshoobop How is v1.2.4? Better?  Give it a shot and let me know

pyup.io did lock packages, but I'm not sure if it affected the release or not, as it happened after 1.2.3 was already tagged...

[2017-01-14 04:44] thebopshoobop commented on #198
@tony v1.2.4 does indeed work just fine. Thanks for the speedy tag.
@rosshadden I've posted an updated PKGBUILD [here](https://gist.github.com/thebopshoobop/833aaf922e3d6187bbb123168a59d128), and I've flagged tmuxp out-of-date in the AUR.

[2017-01-14 06:18] rosshadden commented on #198
@tony Yep, works great.  Thank you!
@thebopshoobop Good thinking.

[2017-01-14 06:18] #198 closed

[2017-01-17 04:21] fourjay opened #199 "Version check breaks on tmux dev"
I (possibly foolishly) build tmux from source.
Late updates of tmuxp do a version check ``has_required_tmux_version()`` that throws an exception.
I'm pretty sure this because with the source ``tmux -V`` in my environment returns ``tmux master`` with no version number.
I can work around this by commenting out the call to ``has_required_tmux_version()`` and tmuxp runs without issue.
Is there potenti

[2017-01-18 20:10] tony commented on #199
@fourjay I'm open to a fix for that.

[2017-01-21 19:53] oblitum opened #201 "tmuxp fails loading project layout when directory name contains periods"
Works: `tmuxp load -d ~/Documents/Projects/foo.bar/.tmuxp.yaml`.

`tmuxp load -d ~/Documents/Projects/foo.bar` or `tmuxp load -d ~/Documents/Projects/foo.bar/`
fails with:

[code]

I have no issues with directories not containing periods.

[2017-01-25 09:08] jonleopard commented on #190
@rakanalh Adding those two lines to my .zshrc file seemed to make the error message go away. Thanks for the tip!

[2017-01-29 00:04] Ilyes512 opened #205 "Is it possible to load default config from a different path?"
I would like to put my dot configuration into 1 folder (say `~/.mydotfiles`) and so I was wondering if it was possible to save my config into that folder and load it automatically instead of having to use `$ tmuxp load ###`.

I think I could do it from within my `.zshrc`-file and put a line that loads a default config, but I am wondering if there is a better way?

[2017-01-30 22:01] kenwarner opened #206 "Clone configuration into new tmux session"
I'd love to be able to do something like this

`tmuxp clone myconfig -s newsession`

which basically reads the config yaml `myconfig`, creates a new tmux session named `newsession` and loads `myconfig` into it. thoughts?

[2017-01-30 22:23] fourjay commented on #199
I'd think the most robust fix would involve some sort of .tmuxprc file, as it would allow seamless alteration of behavior, but that's clearly a significant enhancement.
Most straightforward fix I can see is just to just catch for the version "master"
I've put in

        version = proc.stdout[0].split('tmux ')[1]
        if version == 'master':
              version = '2.3'

in ``has_required_tmux

[2017-01-31 09:22] tony commented on #205
@Ilyes512 This seems like a good idea for a feature. Perhaps a `TMUXP_CONFIGDIR` or `TMUXP_DIR`.  What do you think?

Interested in making a patch?  You could do it via https://github.com/tony/tmuxp/blob/5b08012d35d902cafc7c4c2ce95fbb6e2a9cd139/tmuxp/cli.py#L28

[2017-01-31 21:46] Ilyes512 commented on #205
I am not Python dev, but I will give it a shot. First thing I noticed while installing the dev version is that I cant run tests:

[code]

I am going through http://tmuxp.git-pull.com/en/latest/developing.html.

[2017-01-31 22:24] Ilyes512 commented on #205
Made a pull request (https://github.com/tony/tmuxp/pull/207). I did not add any tests.

I tested it by running the fallowing 2 commands:

[code]

[code]

Both `~/.foobar` and `~/.test` did not exist when I executed the above commands.

[2017-02-01 15:16] kenwarner commented on #206
for POC sake I just added it to the existing `tmuxp load` command

`tmuxp load myconfig -s newsession`

[2017-02-04 10:12] usabi commented on #187
I think you have a typo in all but the first "window_name" occurrence. Remove the "s" in "window**s**_name" and all will be fine :)

[2017-02-05 08:24] IngoHeimbach opened #209 "start_directory not working as expected"
I started using tmuxp recently (and it's great!) but I have some problems using `start_directory`. Assume, I would like to work on a project `~/project` with sub directories `src` and `test` and would like that tmuxp creates one window with two panes, one for each subdirectory. I tried to use the following yaml file for that:
[code]
When calling tmuxp I get the following exception:
[code]
To circu

[2017-02-05 09:47] ialiendeg opened #210 "Add variable replace with curly braces in shell_command also"
I discover tmuxp yesterday and I like it's power and simplicity, but I have an special situation that I think it would be better addressed with variable replace in shell_command.

I always use different server port for all of my rails projects so browser history doesn't mix (and in case I have more than one up at the same time).

To do this I thought I can use only one tmuxp config, simpy passing

[2017-02-05 23:12] tony opened #211 "Looking for maintainers"
I'm looking for maintainers to help with issues / pull requests on this and https://github.com/tony/libtmux. If you're interested, please reply here or send me an email.

Best,
Tony

[2017-02-07 07:46] tony commented on #205
I did this with `TMUX_CONFIGDIR`.

[2017-02-07 12:30] tony opened #212 "Need better error message for dirs with dot in it"
If no config is in a directory

[code]

[2017-02-08 19:21] sloria commented on #199
I just ran into this as well. I installed the latest tmux on OSX using `brew install tmux --HEAD`. Therefore, my tmux version is `'master'`.

[code]

If I get some free time soon, I'll send a PR to libtmux.

[2017-02-08 19:23] tony commented on #199
Can you do a `tmuxp -V` and try seeing if ``pip install -U tmuxp`` fixes it?

[2017-02-08 19:26] sloria commented on #199
That doesn't fix it.

The problem is here: https://github.com/tony/libtmux/blob/2f8a925d1b4a83e21dee9debdaf725dc9984304b/libtmux/common.py#L415-L422

The `version` passed to that function is `'master'`.

[2017-02-08 20:03] tony commented on #199
I thought we got rid of the StrictVersion also.

Feel free to give a PR a go. I’ll update the dependency and publish to pypi.

On February 8, 2017 at 1:26:49 PM, Steven Loria (notifications@github.com)
wrote:

That doesn't fix it.

The problem is here:
https://github.com/tony/libtmux/blob/2f8a925d1b4a83e21dee9debdaf725dc9984304b/libtmux/common.py#L415-L422

The version passed to that function is '

[2017-02-08 20:05] #199 closed

[2017-02-12 05:57] akirak commented on #143
The following command allows you to initialize a byobu session using tmuxp even when there is no running byobu session:

    byobu new-session tmuxp load --yes SESSION_TO_LOAD

As you can see, this command creates a temporary byobu session that runs tmuxp and attach it immediately. The temporary session exists immediately after tmuxp loads the session. This workaround is a bit ugly on rendering bu

[2017-02-14 21:58] Ilyes512 opened #216 "Will there be a release any time soon?"
So as the title mentioned, will there be a new release any time soon.

I would really like to start using the configurable tmuxp folder (https://github.com/tony/tmuxp/pull/207) :)

[2017-02-15 00:09] oblitum commented on #212
The changed title seems to make it a duplicate of #201.

[2017-02-16 03:22] tony commented on #216
It should be in v1.2.5

https://tmuxp.git-pull.com/en/latest/history.html

Give it a shot and let me know if it works

FYI setup.py hasn't changed because it pulls in the version via tmuxp/__about__.py

[2017-02-22 11:08] sdelafond opened #217 "Commands are not run in the correct pane"
[code]

Both windows will show "1" as output, instead of "0" in the 1st and "1" in the second, so it appears that whichever windows has focus:true will somehow be used to actually run the commands...

[2017-02-23 16:23] tony commented on #217
@sdelafond This happened in the most recent versions of tmux when how panes are split changed.

WorkspaceBuilder will need to get updated, because the previous way it used to split and traverse panes relied on behavior that was actually undefined.

[2017-02-23 16:28] sdelafond commented on #217
All right, no problem. Once that's fixed I'll make sure to upload the new version to Debian ;)

[2017-02-24 22:14] tony commented on #217
@sdelafond 1.2.6 is live. However, I mistakenly correlated is to this issue. #127 fixes separate issue with *pane ordering* in recent versions of tmux.

After looking closer at the behavior in the original issue, I can confirm that it's the window_index issue is still happening.

The reason why is WorkspaceBuilder creates each window and runs its commands sequentially.

In order to get this behavi

[2017-02-25 08:21] sdelafond commented on #217
No urgency at all, I just came across this behavior and was
surprised. I'll package and upload 1.6 anyway :)

I would have to look at the code for WorkspaceBuilder, but I'm not sure
I understand why creating windows sequentially, and immediately building
their panes with associated commands (like you're describing it does in
1.2.6) doesn't result in each window having its correct #{window_index}
w

[2017-03-01 23:26] packeteer opened #221 "Thanks!"
hey tony, I just wanted to say thanks for a great project.

[2017-03-06 17:05] safaci2000 commented on #38
This isn't mine, but it might be of use:  https://github.com/amontalenti/home/blob/master/.tmuxp/.tmuxp.zsh

[2017-03-10 03:21] jlargentaye opened #223 "Document config syntax"
After looking through the example, I was looking for an exhaustive reference of the configuration syntax. I couldn't find one, so I fell back to reading config.py and the expand() function therein.

[2017-03-23 16:05] Cryspart opened #225 "Env variables are not working (macos)"
When I do `YOLO=yolo tmuxp load yolo`, I cannot use the env var `YOLO` inside tmux (`echo $YOLO` returns an empty string)
I have also tried `export YOLO=yolo && tmuxp load yolo` and I still cannot get the env var
The only way is to write `export YOLO=yolo` in your `.zshrc`

I am using:
- `tmuxp 1.2.6`
- `tmux 2.3`
- `zsh 5.2 (x86_64-apple-darwin16.0)`
- `macos sierra version 10.12.3`

My yolo.yaml

[2017-03-24 01:19] tony commented on #225
Currently, tmuxp doesn't pass down environment variables to shell_commands, but I'm open to added the feature.

Think it'd be useful to you?  I could add it, unless you want to give it a shot. Are you interested in making a PR? It should be pretty easy, the foundation is there.

It'd be added `expandshell` to the shell_command ran in https://github.com/tony/tmuxp/blob/master/tmuxp/config.py and te

[2017-03-24 08:34] imanhodjaev commented on #221
Thank you @tony!

[2017-03-24 16:40] Cryspart commented on #225
I just found out that you can actually pass env variables using `environment`:
command: `EVENT=event EDITOR=editor tmuxp load test`
[code]

or by using an external script:
[code]

We have at least 3 ways to do it at the moment so I don't think it is a necessary feature

[2017-03-27 13:53] sdouche opened #229 "Check if Tmux is installed"
Hi,
Nasty error message if Tmux is not installed (version 1.2.7):

[code]

[2017-03-29 08:04] tony commented on #229
Would you like to make a PR / test? This should be an easy one.

[2017-03-29 08:08] tony commented on #229
I may take this one on if you don't have time.

What we need:

1. libtmux to raise an exception that tmux wasn't found in paths.
2. tmuxp should give a friendlier error message

[2017-04-03 07:17] #229 closed

[2017-04-03 10:37] tony commented on #229
@sdouche This made it in v1.2.8. It's up on pip now

[2017-04-10 20:14] sebastianst opened #234 "Feature: apply window option after command exec (synchronize-panes)"
In tmuxinator you may add `synchronize: after` to a `window` element to let it set ` synchronize-panes: on` *after* the panes' commands have been executed.
In tmuxp I can enable pane synchronization by setting
[code]
However, this enables synchronization *before* the panes' commands have been executed. So I cannot execute different commands in each synchronized pane.
It would be great to have a `o

[2017-04-20 09:29] rafi opened #237 "Better defaults, less verbosity"
Better defaults, less verbosity:

- Default focus behavior:     (_Argument:_ Normally being first means top priority)
  * Focus the first window
  * Focus the first pane in every window
- Change `suppress_history` default to `false`   (_Argument:_ More common to re-use a command after CTRL+C for example, suppress should be the exception)
- Allow `name` instead (or as-well) as `window_name` (_Argum

[2017-04-21 22:09] kaushalmodi opened #239 "tmux freeze fails"
Hi,

I just installed tmuxp using `pip3 install tmuxp`. It believed it installed fine because if I type just `tmuxp`, it shows the help.

I have a tmux session named `main`. But when I typed `tmuxp freeze main`, I got this backtrace:

[code]

Python version: 3.6.1
OS: RHEL 6.6

[2017-04-21 22:15] kaushalmodi commented on #239
To add, I was able to do `tmuxp load example.yaml` as explained on the [QuickStart](http://tmuxp.git-pull.com/en/latest/quickstart.html) page.

[2017-04-26 03:44] jcrben opened #241 "Check user config directory even if extension is specified?"
I have my config directory customized with the environment variable `TMUXP_CONFIGDIR`. I've found that if I load a tmux configuration without using an extension, it works properly. But if I use an extension, it tries to look in the current directory.

From the comment at https://github.com/tony/tmuxp/blob/master/tmuxp/cli.py#L169 it seems that this is by design, but it's kind of a confusing design

[2017-04-26 20:00] tony commented on #239
Can you try to recreate the settings and return the results of ``tmux list-sessions``, ``tmux list-windows -a``, and ``tmux list-panes -a``?

[2017-04-26 20:02] tony commented on #241
Initially, I may have implemented it that way to imitate tmuxinator's behavior.

Are you interested in doing a pull request with a test to verify the behavior?

[2017-04-26 20:05] kaushalmodi commented on #239
I did not follow that.

Also, I am using tmux version 2.4+ (built from its master branch).

[code]

[2017-04-26 20:13] tony commented on #239
Just meant if you could recreate the error, while pulling the info from those commands. It helps me try to figure out what could be causing the glitch.

I'm very interested in the output of ``tmux show-window-options``, but, I don't know which window is causing the crash.  I think this may sound like a main, but could you try returning that command for all windows you have open? Sorry if that may

[2017-04-26 20:36] kaushalmodi commented on #239
No problem.. Here are the results for `tmux show-window-options` for each window. I have copied the window names from above for convenience. I am confused why the window options are not the same in all windows.

---
main:1: *scratch* (4 panes) [283x63]

---
main:2: tok1#- (4 panes) [283x63]

---
main:3: tok2* (4 panes) [283x63]

---
main:4: tok_cosim (3 panes) [283x63]

---
main:5: tok-regr (3 pan

[2017-04-26 20:41] kaushalmodi commented on #239
Now I toggled pane synchronization in all windows. Now all windows show:

But `tmuxp freeze main` still throws the same error.

[2017-04-26 20:44] tony commented on #239
I wonder if this were to still happen in 2.4 built from the release changeset.

I think that the `pane-border-format` looks suspect.  Mine is `pane-border-format "#{?pane_active,#[reverse],}#{pane_index}#[default] \"#{pane_title}\""`

I'm wondering what your tmux configuration looks like. Are you using tmuxp configs as well?

[2017-04-26 20:45] tony commented on #239
Could you try to put a `print(cmd)` before `dict(cmd)` in `/home/kmodi/stow/pkgs/python/3.6.1/lib/python3.6/site-packages/libtmux/window.py`?  Then trying freeze again? Maybe they we can get an idea what's causing it

[2017-04-26 20:47] kaushalmodi commented on #239
[my .tmux.conf](https://github.com/kaushalmodi/dotfiles/blob/master/dot_tmux.conf)

My pane border setup:

[code]

No, I haven't configured tmuxp in any way, using it as default.

[2017-04-26 20:55] kaushalmodi commented on #239
Your suspicion was correct!

[code]

So looks like tmuxp needs to allow spaces in `pane-border-format`.

[2017-04-26 20:56] tony commented on #239
Interested in trying a PR? It's something that could be done via the tests. Or I could give it a go.

[2017-04-26 21:01] kaushalmodi commented on #239
I wish I could help. While I can understand Python scripts with help from google, SO, etc, I don't think I can tackle this.. *But still let me give it a try.*

I can now run `tmuxp freeze main` after ensuring that the `pane-border-format` did not have spaces.

[code]

[2017-04-26 21:02] kaushalmodi commented on #239
While I can try fixing this, not sure if I can write tests for that :)

[2017-04-26 21:12] tony commented on #239
You're welcome to try a suggestion and post it here, but it's not helpful without a regression test. It should be relatively easy to add.

https://github.com/tony/tmuxp/blob/6eabe5e6e5c177197788761eeff737b747e70a7e/tests/test_workspacebuilder.py#L238
https://github.com/tony/tmuxp/blob/master/tests/fixtures/workspacebuilder/window_options.yaml

Adding a `pane-border-format: ' #P '` and making that

[2017-04-26 21:24] kaushalmodi commented on #239
This fixes stuff from my quick testing:

[code]

Any objections to adding this new dependency?

[2017-04-26 21:30] tony commented on #239
Looks like an idea, why not try making a PR to libtmux. I'll add a test on both ends.

An aside: No need to reference SO for something simple as that, by the way. tmuxp is BSD licensed and we don't want to appear like we're taking viral CC code.

No need to comment the import, but you can add move that comment to the line above `cmd = [tuple(shlex.split(item)) for item in cmd]`

[2017-04-26 21:53] kaushalmodi commented on #239
Done.

Yes, can you please do that this time.. I will observe and learn how you updated the tests.

The PR has your suggestions applied.

Thanks!

[2017-04-26 21:57] kaushalmodi commented on #239
Oh wells, looks like things are [failing](https://travis-ci.org/tony/libtmux/jobs/226189924). I'll get some time at later to understand how the `shlex.split` impacted the tests.

[2017-04-26 21:59] tony commented on #239
Take your time. If you need to take a different approach, that's fine too.

[2017-04-26 22:00] kaushalmodi commented on #239
May be `shlex` works on Python 2.7+ only?

![image](https://cloud.githubusercontent.com/assets/3578197/25458983/3787c2fc-2aaa-11e7-9e78-2fbd3a7af252.png)

[2017-04-26 22:01] tony commented on #239
Another thing about `shlex`:

[2017-04-26 22:03] tony commented on #239
This means that 2.6 support would have to be dropped.

2.6 was asked about back in 2013 @ https://github.com/tony/tmuxp/issues/13. I'm willing to weigh dropping 2.6 support if you can't find an approach.

[2017-04-26 22:07] kaushalmodi commented on #239
Yes, I was reading `shlex` [documentation](https://docs.python.org/2/library/shlex.html), but don't know what

has to do with Unicode support.

Thanks for the consideration. I wouldn't rely on my ability to find a different approach as I am not a serious Python coder. I can even keep on using my forked version with the fix.

[2017-04-26 22:22] tony commented on #239
I am going to consider loosening the 2.6 requirement. It's been almost 4 years since that issue.

Last 2.6 release was [2.6.9](https://www.python.org/download/releases/2.6.9/) in October 29, 2013.

[2017-04-27 16:16] marmalodak opened #244 "can't set layout"
$ tmuxp load -2 ~/.tmuxp/0.yaml
    [Loading] /mnt/myth/john/.tmuxp/0.yaml
    Traceback (most recent call last):
      File "/mnt/myth/john/venvs/util/bin/tmuxp", line 9, in <module>
        load_entry_point('tmuxp==1.2.8', 'console_scripts', 'tmuxp')()
      File "/mnt/myth/john/venvs/util/lib64/python3.5/site-packages/click/core.py", line 722, in __call__
        return self.main(*args, **kwarg

[2017-04-27 21:36] tony commented on #244
Can you return your `tmux -V` and your tmuxp config?

[2017-04-27 23:06] marmalodak commented on #244
tmux 2.2

and I already deleted the tmuxp config.  So very sorry.

[2017-04-27 23:07] tony commented on #244
I need to be able to recreate it on my machine to probe further.

[2017-04-27 23:32] marmalodak commented on #244
I agree and I feel dumb for having deleted the config. It was a fatfinger moment.

[2017-04-27 23:58] tony commented on #244
It's okay, no problem.  if you are able to recreate this issue and have the config, let me know.

[2017-04-28 16:13] condemil commented on #116
As a temporary solution I am calling `shell_command` to load config:

```tmux source-file $XDG_CONFIG_HOME/tmux/tmux.conf```

in one of the panes

[2017-04-28 16:45] oblitum opened #245 "AssertionError on WSL"
I'm trying tmuxp on WSL (Windows Services for Linux, which is based on Ubuntu 16.04) but loading a session file ends up with:

[code]

For the same session file I have no issues on ArchLinux.

[2017-04-28 19:03] tony commented on #245
Any idea if there are CI systems that will allow testing WSL?

[2017-04-28 21:07] #239 closed

[2017-04-28 21:12] tony commented on #234
Closing after #235

[2017-04-28 21:12] #234 closed

[2017-04-28 21:13] tony commented on #239
This is live in 1.3.0

[2017-04-29 00:51] oblitum commented on #245
No sorry...

[2017-04-29 01:16] oblitum commented on #245
From these two prints I've put above the assert:

[code]

I've got these two outputs:

[code]

irc is the name I give in the session file, prezto is the default session name I get when I start zsh, which automatically launches a tmux session named prezto.

[2017-04-29 01:36] oblitum commented on #245
Actually, putting those same two prints just bellow

[code]

I get the same name sequence. I don't get it, shouldn't it be equal since a `new_session` has been just created with `session_name=self.sconf['session_name']`?

[2017-04-30 02:48] kaushalmodi opened #250 "The synchronized option doesn't get applied at least on tmux master build"
I am using tmux built from master, so it is a bit newer than version 2.4.

I tried `tmuxp load 2-pane-synchronized.yaml` from [this example](https://github.com/tony/tmuxp/blob/master/examples/2-pane-synchronized.yaml). There are no errors, by the panes are not in synchronized state.. so the `synchronize-panes: on` option doesn't seem to have got applied.

[2017-04-30 03:51] kaushalmodi commented on #250
If I do `tmux show-window-options` in the tmuxp loaded session, I only see:

But surprisingly this test passes:

[code]

[2017-04-30 07:06] jungle-boogie opened #251 "yaml.scanner.ScannerError: mapping values are not allowed here"
Hello,

Really eager to try tmuxp out on my TrueOS system, but I'm getting some crash. This looks similar to https://github.com/tony/tmuxp/issues/201, but I can't even get tmuxp to load.

installed via: `pip install --user tmuxp`
My pip uses python3.6

[code]

[code]

[code]

[2017-04-30 07:11] jungle-boogie commented on #251
Good news! it was crashing because my yaml file wasn't formatted correctly.

[code]

[2017-04-30 07:11] #251 closed

[2017-04-30 21:37] tony commented on #250
you're running `tmux show-window-options` in the same window you applied the `options_after` too right?

[2017-04-30 22:58] kaushalmodi commented on #250
Yes, of course (the example tmuxp config launches just one window). Actually I found this issue as I practically didn't find the panes in the window to be in synchronized state when I set that option in my tmuxp config. And then that mini example also showed that the synchronized panes did not get enabled.

To verify that, I did `tmux show-window-options`, and that indeed was the case.

So you can

[2017-05-01 00:17] tony opened #252 "Loading fails if session name begins with session name of attached session"
If session "cihaidata-unihan" is running, loading "cihai" will fail. Because the smaller named (cihai) is detected via attached/has-session.

Current workaround:  Start smaller named session first, then the longer one that contains the name after

[2017-05-07 08:45] oblitum commented on #245
Updating to `2.3~20170504~bzr3827+20-1ubuntu1~ppa0~ubuntu16.04.1` [from this PPA](https://launchpad.net/~pi-rho/+archive/ubuntu/dev) there's no issue anymore.

[2017-05-07 08:45] oblitum commented on #245
Updating to tmux `2.3~20170504~bzr3827+20-1ubuntu1~ppa0~ubuntu16.04.1` [from this PPA](https://launchpad.net/~pi-rho/+archive/ubuntu/dev) there's no issue anymore.

[2017-05-26 11:14] kuba-gaj commented on #190
Did not work for me (still no completion)
Is there proper way to make it work in zsh natively?

[2017-05-27 20:25] tony commented on #250
Any updates? I don't use synchronize panes.

Can you try to debug it?

[2017-05-27 21:13] kaushalmodi commented on #250
The last time I tried, this issue was still there. I am traveling at the moment. I'll be able to get back to this in 2 weeks.

[2017-05-28 01:18] tony opened #264 "Switch to MIT license"
I'd like to switch the license to something even more permissive than BSD 3-clause (MIT).

Sorry for causing the ping, but wanted to get it out of the way.

If you're ok with it, please reply with a note that you agree for your code contribution(s) to tmuxp to be released under the MIT license.

- [x] @ikirudennis
- [x] @ThiefMaster
- [x] @sebastianst
- [x] @kmactavish
- [x] @thomasballinger
- [x]

[2017-05-28 01:19] yegortimoshenko commented on #264
Sure.

[2017-05-28 01:21] yegortimoshenko commented on #264
BTW, your [LICENSE](https://github.com/tony/tmuxp/blob/master/LICENSE) says to check AUTHORS file for list of contributors, but there is no such file in the repo. Probably makes sense to remove that note.

[2017-05-28 01:27] tony commented on #264
When the new license takes effect we'll have the AUTHORS thing out, we'll link to https://github.com/tony/tmuxp/graphs/contributors

[2017-05-28 01:33] Ilyes512 commented on #264
Good action! I agree.

[2017-05-28 01:34] ikirudennis commented on #264
I have no problem with this. Thanks for keeping us all in the loop.

[2017-05-28 05:11] techtonik commented on #264
I am fine with it.

[2017-05-28 05:22] achals commented on #264
I'm fine with this as well.

On Sat, May 27, 2017, 10:11 PM anatoly techtonik <notifications@github.com>
wrote:

[2017-05-28 05:30] rafi commented on #264
I agree, thanks!

[2017-05-28 05:37] ThiefMaster commented on #264
fine for me

[2017-05-28 05:46] mexicarne commented on #264
Ok for me.

[2017-05-28 07:09] fpietka commented on #264
Ok for me too

[2017-05-28 07:20] abeyer commented on #264
Ok with me

[2017-05-28 08:34] tek commented on #264
:+1:

[2017-05-28 09:10] marbu commented on #264
I'm ok with it.

[2017-05-28 09:33] joelwallis commented on #264
I agree 😄

Joel Wallis Jucá
joelwallis.com

On May 28, 2017 6:10 AM, "Martin Bukatovič" <notifications@github.com>
wrote:

[2017-05-28 12:08] sebastianst commented on #264
OK for me.

[2017-05-28 13:23] ohardy commented on #264
Ok for me.

[2017-05-28 22:25] madprog commented on #264
Ok for me too :)

[2017-05-29 06:12] estin commented on #264
I agree.

[2017-05-29 06:47] JorisE commented on #264
Ok by me.

[2017-05-29 09:50] yvaucher commented on #264
Same here, I agree.

[2017-05-29 10:39] #252 closed

[2017-05-30 13:46] gtback commented on #264
fine with me

[2017-05-30 14:01] tasdomas commented on #264
Fine with me.

Domas

On Tue, May 30, 2017 at 4:47 PM, Greg Back <notifications@github.com> wrote:

[2017-05-30 21:48] myw commented on #264
I'm OK with this!

[2017-06-06 05:04] thomasballinger commented on #264
This is fine with me!

[2017-06-20 11:20] Nic30 commented on #117
Today it happend me again,
pip3 install sphinxcontrib-aafig
Python 3.5.2

Exception occurred:
  File "/usr/local/lib/python3.5/dist-packages/sphinx/application.py", line 512, in setup_extension
    mod = __import__(extension, None, None, ['setup'])
  File "/usr/local/lib/python3.5/dist-packages/sphinxcontrib/aafig.py", line 95
    image_node.aafig = dict(options = aafig_options, text = text)

[2017-06-21 04:54] tony commented on #264
We're almost there.  @kmactavish @roxit @raine @cryptojuice @sehe @omeryl, do you agree to licensing your contributions under [MIT license](https://opensource.org/licenses/MIT)? If so, reply here that it's Ok!

[2017-06-21 05:57] tony commented on #187
Does this still occur with the latest tmuxp @maljac?

[2017-06-21 07:09] kmactavish commented on #264
Good with me.

[2017-06-21 13:18] raine commented on #264
OK!

[2017-06-22 11:04] sehe commented on #264
Fine!

[2017-06-28 12:13] lfilho commented on #38
Maybe it's a better idea to add to `zsh-completions` project? This way everyone benefits, not only oh-my-zsh... tmuxinator is there already: https://github.com/zsh-users/zsh-completions/blob/master/src/_tmuxinator

Any updated plans on this, @tony ? Thanks!

[2017-06-28 12:32] lfilho commented on #190
Also having this problem.

Adding
[code]
to my zshrc file didn't solve the issue but changed the error message to: `complete:13: command not found: compdef`.

Using zsh 5.3.1, tmuxp 1.3.1 and tmux 2.5

[2017-06-28 23:31] tony commented on #190
I was concerned that the switch to click might make us lose control over completion. It did improve code quality and test coverage dramatically, though.

tmuxp's autocompletion facilities depends on autocompletion in click (http://click.pocoo.org/dev/bashcomplete/).

@lfilho I'm wondering if the ``command not found: compdef`` could be due to something else.

https://github.com/robbyrussell/oh-my-z

[2017-06-29 08:29] lfilho commented on #190
Hey @tony thanks for trying to help me.

I read that entire thread and tried all suggestions but to no luck. I'm using prezto instead of oh-my-zsh though...

It's weird cause, naturally, I have working completion for many other commands and packages. `tmuxp` is the first one that gave me this error... :-/ I wonder what could it be

[2017-07-18 03:54] jerome-diver opened #284 "where is the commands list in the official doc ?"
Thank you for this tmuxp code.
Did you read the documentation ?
There is no list of usual command for use inside the yaml /json file.
Also, the doc and all the other copy/paste i read are terribly un-organised (sure there is not to much to know, but it is not a reason).
How people do for have the list of these functions ?
I would like to have the exhaustive list of functions i can use in the yaml

[2017-07-18 09:04] tony commented on #284
Can you rephrase what you need help with, briefly?

The part of tmuxp that handles configuration files isn't the same as CLI commands.

YAML and JSON files are a declarative configuration. Sometimes the best way to express them is induction and example.

[2017-07-18 10:45] jerome-diver commented on #284
yes @tony
i'm searching for the list of ALL variables usable inside a yaml/json file.
(like window_name, panes, shell_command, etc... ALL of them).
Do you have that ?
or any link ?

[2017-07-18 11:23] tony commented on #284
We can provide that, but I'm not sure the best way to convey it.

The other thing is, I haven't seen another project that uses YAML (like saltstack) find an appropriate way to *document* something that's kept in a hierarchical config. Which is why we've used examples this long.

So, properties can only be present in certain levels. For instance, "panes" would not work unless it was inside of "wind

[2017-07-23 17:33] Ilyes512 commented on #205
Finally switched from tmuxinator to tmuxp. I can confirm that this works. It did not work initially because I used `TMUX_CONFIGFIR` instead of `TMUXP_CONFIGDIR` :).

[2017-07-23 17:33] #205 closed

[2017-07-23 17:34] #216 closed

[2017-07-24 05:30] opitzs opened #285 "Parameters -L and -S hinted at in docs, but not working"
Hi,

first of all thank you for a wonderful time saver!

According to the documentation (http://tmuxp.git-pull.com/en/latest/about.html#minor-tweaks) there should be the parameters -L and -S to use sockets, but I only get errors "no such option".

These options would be nice to have.

Thank you
Sven

[2017-07-27 19:56] tony opened #286 "remove coveralls from .travis.yml"
add codecov

[2017-08-07 13:36] felka opened #289 "Adding window/panes to current session"
Hi,
Using tmux 2.3.0 in Iterm2 v3.
Trying to add window to current session with following config:
[code]
`tmuxp load` test asks me if I want to attach to current session. Once I answer "Y" it does nothing.

[2017-08-08 02:34] tony opened #290 "Looking for help (support, QA, maintainers)"
We have a lot of users between here and libtmux. We need to build a team.

Willing to pitch some personal time in to help make tmuxp better?

You're welcome to participate now! We're a well-documented, CI-backed open source project. You can start now by answering [issues](https://github.com/tmux-python/tmuxp/issues) and QA'ing / code reviewing [pull requests](https://github.com/tmux-python/tmuxp/p

[2017-08-08 18:19] askedrelic commented on #290
I'm spending sometime today looking to fix #184 so maybe I can contribute. I use tmux/tmuxp daily and would like to do what I can do help things be active!

[2017-08-08 18:26] askedrelic commented on #184
I've found a bug in libtmux which is causing this, @romabysen is correct. So I will try to fix libtmux and it should magically fix tmuxp.

[2017-08-18 01:47] mcfongtw opened #293 "Equivalence to send-keys without hitting 'enter'"
Hi,

I am really impressed with the flexibility of this tool working cohesively with tmux. Good work!

I have tried shell_command / shell_command_before, and both of them would execute the command immediately. I am just wondering if there is / will be a syntax that supports send-key **without hitting the 'enter'**? This might be useful when we have some heavy-weight command ready, but do not execu

[2017-08-18 09:55] tony commented on #293
Hi,

We have it in libtmux (`send_keys()` with `enter=False`). However, it's not a feature in the tmuxp language.

http://libtmux.git-pull.com/en/latest/api.html#libtmux.Pane.send_keys

You could suggest a Pull Request. It may be good to know what you think the markup would look like in the config for a command that's not entered fully.

[2017-08-19 08:06] askedrelic commented on #184
https://github.com/tony/libtmux/pull/65 has fixed this for me locally, so this should be fixed with the next version of libtmux.

[2017-08-19 14:24] mcfongtw commented on #293
Hi,

Thanks for your reply.

I am migrating some of my tmuxifier layouts to tmuxp yaml. There is an option to execute command (run_cmd) or  paste command only (send_keys) to the pane in tmuxifier. In my scenario, I found the send_keys command is useful for resource-consuming commands and requires further confirmation to execute, i.e. linux perf commands. I like having those commands automated with

[2017-08-19 14:31] tony commented on #293
I think before a PR, we should discuss what a command without hitting enter should look like in the YAML/JSON config.  It should be something unambiguous.

By the way, have you try making your last command have `\` at the end, and starting a session?

e.g.

[code]

[2017-08-19 14:50] mcfongtw commented on #293
Hi,

Adding backslash at the end of command line seems to work all right. I haven't checked fully on the source code, but maybe it would be user comprehensive to have another command syntax i.e. paste_command (internally calling libtmux.send_keys with enter=False), solely for this purpose perhaps?

Regards,

[2017-08-20 14:40] tony commented on #184
@askedrelic if you're around, try seeing if `pip install -U libtmux` and trying to load a fresh session in tmuxp works.

[2017-08-20 14:46] tony opened #296 "CI breaking with Travis distribution update"
https://blog.travis-ci.com/2017-04-17-precise-EOL

See https://travis-ci.org/tony/tmuxp/jobs/266337424

Fixed temporarily by using `dist: precise`:

https://github.com/tony/tmuxp/commit/ac5676b23b9c63e930125d59cee938a07df52213

[2017-08-20 14:48] tony opened #297 "Clean up issues"
todo

see: https://github.com/twbs/no-carrier

[2017-08-20 14:58] tony opened #298 "Speed up CI: create pre-compiled tmux versions for travis"
keep pre-compiled tmux versions (statically built binaries?) to grab for travis, this should halve ci time

be sure to give our friends at tmuxinator, teamocil, and tmuxomatic the change, since some of them adopted cross-version .travis.yml file from us

[2017-08-20 16:20] tony commented on #184
tmuxp 1.3.2 is live

[2017-08-21 07:35] askedrelic commented on #184
tmuxp 1.3.2 fixes this for me.

My use case for this has been restarting a tmuxp session, while I'm currently using it. I setup a bunch of ssh connections and restart the whole session has always seemed like the easiest thing for me:

[code]

[2017-08-21 08:18] k4nar commented on #184
Indeed, tmuxp 1.3.2 seems to have fixed it. Thanks!

[2017-08-21 08:18] #184 closed

[2017-08-25 15:45] XanderXAJ opened #299 "start_directory doesn't work on panes if another tmux session already exists"
`start_directory` doesn't seem to work on panes if I load a per-project tmuxp profile (via `tmuxp load .`) when a tmux server is already running that was started in a different working directory.

For example, if I start a tmux server while in `~/projects`, then try to load a project profile in `~/code`, the directory of panes with a `start_directory` will either be:
- The directory the project fi

[2017-10-07 07:07] tony opened #304 "Fix travis"
Travis needs to get fixed before we can tend to PR's: #242, #208, #197 #189

[2017-10-13 22:29] tony opened #305 "Poll: Switch to python 3 only?"
Any opinions on this?

Anybody using tmuxp and require python 2?

[2017-10-14 00:20] zirpu commented on #305
I only use it from a python3 virtualenv.  So +1 from me.

[2017-11-04 05:04] oblitum opened #309 "layout is broken on 1.3.4"
With this simple configuration now the main window is always with width 2. It doesn't matter whether I set `main-pane-width: 160` or not, it's always loaded in a strip of just 2 columns.

[code]

I'm using [the package from AUR](https://aur.archlinux.org/packages/tmuxp).

Issue is present both in vertical and horizontal layouts.

[2017-11-04 05:13] oblitum commented on #309
There's other strange behavior like character artifacts, etc.

[2017-11-04 18:09] kageurufu commented on #309
Maintainer from the AUR here, I can reproduce without the AUR package, using a clean 3.6.3 virtualenv (--no-site-packages, etc)

tmux 2.6

[2017-11-08 05:00] jcrben commented on #241
thanks for asking!

tmux still isn't part of my daily workflow, but I'm circling back around to it and perhaps I could offer some help if it becomes part of my workflow. I use byobu (tmux doesn't let me customize where I put my configs) so messing around with that integration right now (see https://github.com/tony/tmuxp/issues/143)

[2017-11-08 23:27] tony commented on #309
I also get this.

But I think it has more to do with tmux 2.5, than tmuxp.

Can we get a confirmation on tmux versions? Anyone using tmux 2.4 or lower and seeing this?

[2017-11-08 23:29] oblitum commented on #309
I'm also on 2.6. It's what's on ArchLinux repos, and there's no option to downgrade due to dependencies.

[2017-11-08 23:31] oblitum commented on #309
But, by the way, it was fine on 1.3.2 on tmux 2.6.

[2017-11-08 23:43] kageurufu commented on #309
I just build 2.3 through 2.6 on Arch from the ABS, heres the packages AND results for @oblitum's yaml. 2.6 has a 2-wide left pane, while 2.3 to 2.5 all show a 2px wide right pane. This is tmuxp installed in ~/.local with `pip install --user tmuxp`

[tmux-2.3-1-x86_64.pkg.tar.gz](https://github.com/tony/tmuxp/files/1455780/tmux-2.3-1-x86_64.pkg.tar.gz)
![tmux-2 3](https://user-images.githubusercont

[2017-11-09 01:14] tony commented on #309
- Can I see your options?  esp ``$ tmux showw   | grep "main-pane"``
- So with other tmuxp versions (e.g. 1.3.3), it's ok?
- what's the expected behavior vs what you get?  are all tmux versions showing incorrect results with 1.3.4?

[2017-11-09 01:28] oblitum commented on #309
- Can I see your options? esp `$ tmux show | grep "main-pane"`
  `$ tmux show | grep "main-pane"` shows nothing for me. `tmux show` just show `status off`. In any case, [this is my .tmux.conf](https://github.com/oblitum/dotfiles/blob/archlinux/.tmux.conf).

- So with other tmuxp versions (e.g. 1.3.3), it's ok?
  I just tested with 1.3.2 and 1.3.4 lately. Only 1.3.4 presents the issue. It's the fir

[2017-11-09 01:35] tony commented on #309
The only thing I have to mention is setting a main-pane-height, e.g. https://github.com/tony/tmuxp/blob/master/.tmuxp.yaml#L11

I'm going to check this again in the morning (need z's). We need to check the history to see what caused it.

1.3.2 is OK for sure right? https://tmuxp.git-pull.com/en/latest/history.html There hasn't been many changes between then and 1.3.4... And by the way I do get fun

[2017-11-09 01:38] oblitum commented on #309
@tony I got the issue both main-horizontal and main-vertical, so this doesn't matter. Yes I can state for sure, as I'm now frozen on 1.3.2 on pacman, this version is fine.

[2017-11-09 01:43] tony commented on #309
I am perplexed. Tomorrow morning I'm going to start giving this a look

[2017-11-09 16:48] tony commented on #289
I'm open to approaches for this.

[2017-11-09 16:49] tony commented on #290
Another call, need maintainers. 👍

[2017-11-09 17:35] tony opened #310 "Test suppression history having issues"
The test we're using for https://github.com/tony/tmuxp/blob/883619ad2b38e8337507510d4005278060345e69/tests/test_workspacebuilder.py#L137 is failing on CI and my local system. It needs to be rewritten to be more resilient.

https://github.com/tony/tmuxp/pull/146

Tagging @kmactavish

[2017-11-09 17:42] tony commented on #310
@kmactavish This is probably my favorite test we have, but the burden of it has been tricky. Probably partially on my part (I think I refactored it).

Can you try to rewrite it / test it in a way that'd work better with our CI / across platforms?

[2017-11-09 18:19] tony commented on #309
I kept mentioning 2.5 last night, I meant 2.6.

Based on the discussion, this seems to be about tmuxp version.

I'm of the belief for some reason that it's more to do with 2.6's changes, namely how detached windows are treated (https://github.com/tmux/tmux/issues/1106).

tmuxp creates workspaces detached. tmux 2.6 sets the dimensions of these workspaces to 80x24. This can cause issues when running

[2017-11-09 18:56] tony commented on #309
Debugging, writing down some thoughts:

Here's the issue, even if giving ``-x`` and ``-y`` to ``new-session`` (which we are already doing), the ``selectl`` commands don't stick until the real client is attached.

This poses a tricky issue. There are ways libtmux can pass a `; selectl` after the session is attached (using semi-colon to do a multi-command). But that only will fix the *first* window.

[2017-11-09 19:34] kmactavish commented on #310
@tony flaky tests are the worst :stuck_out_tongue_closed_eyes:, I can try to take a look this weekend.

Do you have any specific CI runs that show the errors?

[2017-11-09 20:52] tony commented on #310
I probably spoken to soon re: CI, since all those were broken globally and fixed just a few minutes ago acde0f0. I haven't found a test_suppress_history hiccup on CI yet.

I've only verified it breaking on development with macOS with tmux 2.6 so far.

[2017-11-09 20:59] tony commented on #309
Looking for testers: https://github.com/tony/tmuxp/pull/312

[2017-11-09 21:34] kageurufu commented on #309
#312 is showing the same behavior as 2.5 and below, heres a new screenshot
![screenshot from 2017-11-09 14-32-34](https://user-images.githubusercontent.com/259751/32630695-d5a431f0-c55a-11e7-8594-ab4d461302a9.png)

My tmux config can be found in https://github.com/kageurufu/dotfiles/tree/master/tmux if its relevant

[2017-11-09 21:36] tony commented on #309
An also, can you give your ``tmux -V`` and copy/paste your options in that window?

Inside that pane, what's the output of:

- the tmuxp yaml file
- ``$ tmux show-window-options``
- ``$ tmux show-options``
- ``$ tmux show-window-options``
- ``$ tmux show-options -g``
- ``$ tmux show-window-options -g``

[2017-11-09 21:41] kageurufu commented on #309
the tmuxp yaml file

[code]

$ tmux -V

[code]

$ tmux show-window-options

[code]

$ tmux show-options

No output

$ tmux show-options -g

[code]

$ tmux show-window-options -g

[code]

[2017-11-09 21:42] tony commented on #309
@kageurufu Okay, I created a sample config:

[code]

I can confirm what you see.

<img width="964" alt="screen shot 2017-11-09 at 3 42 13 pm" src="https://user-images.githubusercontent.com/26336/32631049-997c59c8-c564-11e7-8a4d-fc5e889c5909.png">
<img width="809" alt="screen shot 2017-11-09 at 3 42 20 pm" src="https://user-images.githubusercontent.com/26336/32631050-999063be-c564-11e7-8bc4-0897cef

[2017-11-10 17:35] #309 closed

[2017-11-10 17:42] oblitum opened #314 "main-pane default layouts not getting reasonable sizes"
For the following session:

[code]

The result is:

![screenshot](https://i.imgur.com/ZWLm5DC.png)

Where the main pane is the left one, it's smaller than the others non main panes.

- `tmuxp load -d ./foo.yaml`
- tmux 2.6/2.5
- tmuxp 1.3.5/1.3.2
- libtmux 0.7.7/0.7.1

[2017-11-10 17:43] tony opened #315 "main-pane-width layout behavior"
moved to #314

[2017-11-10 17:44] oblitum commented on #315
Ops, thought you expected me to open it, now this is a duplicate of #314 I guess.

[2017-11-10 17:46] #315 closed

[2017-11-10 17:46] tony commented on #314
@oblitum reported this in #309/#312

https://github.com/tony/tmuxp/pull/312#issuecomment-343378282

https://github.com/tony/tmuxp/pull/312#issuecomment-343377844

I have experienced the same issue since 2.6

[2017-11-10 17:46] tony commented on #314
I'm getting this behavior with vanilla tmux

outside of tmux:

[code]

inside the new tmux session:

[code]

[2017-11-10 18:01] tony commented on #314
@oblitum can you reproduce https://github.com/tony/tmuxp/issues/314#issuecomment-343540022?

I experienced the same issue as @oblitum. However, for me it began when using tmux 2.6. The main-pane-height and main-pane-width began being smaller, requiring me to make a larger value for it.

If I set to 30, it's 30 characters/cells wide.

If I set to 60, it's 60 cells wide.

I guess it's more accurate

[2017-11-10 19:07] oblitum commented on #314
I have the same behavior for the issue's test case on tmux 2.5.

Regarding the other manual width setting, I have never used those, I have only set width/height inside tmuxp yaml's. I think I do prefer the way it's working, I see no issue or change regarding this, for example, I have several yaml's where I set `main-pane-width: 160`, and it has always worked as I'd expect.

[2017-11-10 19:15] oblitum commented on #314
I have just test this on tmux 2.5, tmuxp 1.3.2. The behavior is still the same. So I think I may only have noticed this meanwhile the recent issues. I don't know at which point it ever started to behave different than I'd expect.

Still, `main-pane-width`, etc, is working as it was before, so I don't expect its behavior to change.

[2017-11-10 22:38] oblitum opened #316 "Sessions with zoomed panes now start to lose its zoom state when refocused"
First time I see this behavior, must be due to the recent changes.

With at least two sessions open, chose one and have multiple panes open on it. Zoom one of the panes (prefix + z) and then switch to another session. Now switch back to the session with the zoomed pane. On switching back the zoom state is lost.

- `tmuxp load -d ./foo.yaml`
- tmux 2.6
- tmuxp 1.3.5
- libtmux 0.7.7

[2017-11-10 22:39] oblitum commented on #316
I'm getting a tmux message when switching back: "no previous window".

[2017-11-10 22:46] oblitum commented on #316
The session must be created by tmuxp, I'm using this one:

[code]

I start it from inside a tmux session (`tmuxp load -y ./foo.yaml`, `-y` or `-d` doesn't matter). I've noticed that I do get this message "no previous window", right when I start and enter the session with `tmuxp load -y ./foo.yaml`.

[2017-11-10 22:49] oblitum commented on #316
The message "no previous window" always shows up when switching to tmuxp created sessions.

[2017-11-11 04:31] tony commented on #264
@roxit, @cyptojuice, @omeryl, can you take a look at this issue?

[2017-11-11 04:31] tony commented on #264
@roxit, @cryptojuice, @omeryl, can you take a look at this issue?

[2017-11-11 04:33] tony commented on #290
@askedrelic Are you still available/willing to help out around the project?

[2017-11-11 08:34] Omeryl commented on #264
@tony I don’t believe I have any code in the repository. The only thing I recall writing is a typo fix to the README. Therefore, do whatever you need.

[2017-11-11 15:24] tony commented on #264
thank you @Omeryl !

[2017-11-11 23:35] kaushalmodi commented on #250
Sorry, I don't have time or know-how on how to debug and fix this. I'll just close this issue. But that doesn't mean that this bug doesn't exists. Hopefully someone can fix this.

[2017-11-11 23:35] #250 closed

[2017-11-12 01:19] #176 closed

[2017-11-13 07:54] sdelafond commented on #217
Quick bump :)

[2017-11-13 21:13] tony commented on #316
I can't recreate it. My zoom is preserved.

I tried the yaml (on this machine, it's tmux 2.5 and the left pane is massive), and couldn't recreate the zoom glitch.

I believe it's happening to you, I just haven't been able to recreate it yet.

[2017-11-13 21:14] tony commented on #316
I should try tmux 2.6.

[2017-11-18 23:56] #75 closed

[2017-11-18 23:56] #183 closed

[2017-11-18 23:56] #192 closed

[2017-11-18 23:56] #194 closed

[2017-11-18 23:56] #206 closed

[2017-11-18 23:56] #209 closed

[2017-11-18 23:56] #210 closed

[2017-11-18 23:56] #211 closed

[2017-11-18 23:56] #223 closed

[2017-11-18 23:56] #225 closed

[2017-11-18 23:56] #244 closed

[2017-11-18 23:56] #116 closed

[2017-11-18 23:56] #245 closed

[2017-11-18 23:56] #187 closed

[2017-11-18 23:56] #38 closed

[2017-11-18 23:56] #190 closed

[2017-11-18 23:56] #284 closed

[2017-11-18 23:56] #285 closed

[2017-11-18 23:56] #286 closed

[2017-11-18 23:56] #296 closed

[2017-11-18 23:56] #297 closed

[2017-11-18 23:56] #298 closed

[2017-11-18 23:56] #299 closed

[2017-11-19 00:56] #67 closed

[2017-11-19 00:56] #62 closed

[2017-11-19 00:56] #60 closed

[2017-11-19 00:56] #57 closed

[2017-11-19 00:56] #66 closed

[2017-11-19 00:56] #54 closed

[2017-11-19 00:56] #78 closed

[2017-11-19 00:56] #70 closed

[2017-11-19 00:56] #81 closed

[2017-11-19 00:56] #84 closed

[2017-11-19 00:56] #87 closed

[2017-11-19 00:56] #86 closed

[2017-11-19 00:56] #91 closed

[2017-11-19 00:56] #98 closed

[2017-11-19 00:56] #99 closed

[2017-11-19 00:56] #106 closed

[2017-11-19 00:56] #103 closed

[2017-11-19 00:56] #114 closed

[2017-11-19 00:56] #88 closed

[2017-11-19 00:56] #74 closed

[2017-11-19 00:56] #136 closed

[2017-11-19 00:56] #138 closed

[2017-11-19 00:56] #65 closed

[2017-11-19 00:56] #170 closed

[2017-11-19 00:56] #180 closed

[2017-11-19 00:56] #172 closed

[2017-11-19 00:56] #185 closed

[2017-11-19 01:56] #24 closed

[2017-11-19 01:56] #30 closed

[2017-11-19 01:56] #39 closed

[2017-11-19 01:56] #47 closed

[2017-11-19 01:56] #41 closed

[2017-11-19 01:56] #50 closed

[2017-11-19 01:56] #36 closed

[2017-11-19 01:56] #56 closed

[2017-11-19 01:56] #58 closed

[2017-11-19 01:56] #59 closed

[2017-11-19 01:56] #63 closed

[2017-11-19 01:56] #51 closed

[2017-11-21 19:39] oblitum commented on #316
Missing zoom is secondary. it's lost because tmux is always emitting the error message "no previous window" at the bottom, which should reset the layout. There's also the issue regarding slower layout loading. For now I'm just pinned to tmuxp 1.3.2.

[2017-11-23 20:42] tony commented on #221
I don't want to call a Thank you message stale.

[2017-11-26 16:01] tony commented on #314
@oblitum I made a script to resize by % https://devel.tech/tips/n/tMuXrSz9/resize-tmux-main-panes-by-percentage/

[2017-12-01 13:36] stianlagstad opened #320 "How to manually resize panes?"
I'm trying this:
[code]
What I see is this:
![screencast-2017-12-01-14-25-52](https://user-images.githubusercontent.com/4340859/33484963-dcb3cab8-d6a4-11e7-89a2-1b5aaaf5edea.gif)

How should I manually resize the panes so that I get them looking the way I want them to?

[code]

[2017-12-02 09:51] tony commented on #320
Typically manual touchups are done via keyboard commands in tmux itself (that's what I do)

Here are tmux defaults:

[code]

The other thing you can do is set a layout.

[code]

There are also scripts that can be used to set stuff proportionally via scripts: https://devel.tech/tips/n/tMuXrSz9/resize-tmux-main-panes-by-percentage/

[2017-12-02 10:01] stianlagstad commented on #320
Thank you for replying! Setting the layout like that gets me what I want. :)

But is there a reason why the shell command to change the size doesn't work? Is there a way I can make it work?

[2017-12-02 10:01] #320 closed

[2017-12-02 10:02] tony commented on #320
Yes, as of tmux 2.6: because tmux builds the session before the client is connecting, the commands to resize may not take effect.

[2017-12-16 10:54] maxekman opened #323 "Run script on attach"
Is it possible to run a script when attaching to an already existing session? In my case I would like to run `code -r .` to load the project in Visual Studio Code when attaching to the session.

[2017-12-20 02:25] #305 closed

[2017-12-27 23:24] mikl commented on #209
I just hit this same problem with tmuxp 1.3.5.

To work around this, `start_directory` must be set explicitly on all windows, not just inherited from the root.

<details>
 <summary>My traceback is similar</summary>
<pre><code>
Traceback (most recent call last):
  File "/usr/local/bin/tmuxp", line 11, in <module>
    sys.exit(cli.cli())
  File "/usr/local/lib/python3.6/site-packages/click/core.py",

[2017-12-28 19:15] askedrelic commented on #290
Hi @tony unfortunately I don't know how much time I can commit. I've been watching the tmuxp and libtmux projects the last few months, to get a better sense of things. I'll keep doing so and try to be more active on things.

Sidenote - the pyup and auto ticket mgmt bots are really nice for helping maintain the project!

[2018-01-06 05:58] animeshb opened #326 "Second window comes into focus first"
I have a simple config with three windows. I have set `focus: true` for the first window to show upon loading a new session. Instead of the first, second window opens up.

[code]

What is wrong with my configuration?

### Version information:

tmuxp 1.3.5
tmux 2.6
Debian Testing

[2018-01-10 15:37] kmactavish commented on #264
@roxit @cryptojuice?

[2018-01-12 08:44] sdelafond commented on #217
Last bump. I tried recently and the issue was still present.

[2018-01-12 14:54] tony commented on #217
@sdelafond I pinned the issue which should exempt it from the bot.

[2018-01-15 04:59] #241 closed

[2018-01-15 19:09] #289 closed

[2018-01-15 21:41] #310 closed

[2018-01-21 17:38] rafi opened #330 "[Feature] tmuxp ls - show user's directory yml/json workspace files"
It would be awesome if tmuxp had an `ls` command (tmux has one) that will list the user directory's yml/json files.

Also, `ln` for a quick way of symlinking project's `.tmuxp.yml` files into the user directory,

For example, _list_, _link_, and _load_ stored workspaces:

[code]

[2018-01-23 13:11] tienduccao opened #331 "zsh tmuxp command not found"
Hi, I couldn't install tmuxp command using python2.7 ``pip install --user tmuxp`` (Mac OSX, zsh).
But it was successfully installed using ``pip3 install --user tmuxp``

[2018-01-24 04:12] tony commented on #331
Can you ``echo $PATH`` and let me know what it says?

It may be that python bin files from python 3 are in your ``PATH`` environment variable, but python 2 isn't.

[2018-01-24 04:14] tony commented on #331
Another point of reference, when I install pip (on macOS, Linux, BSD), I use ``https://bootstrap.pypa.io/get-pip.py`` and run that.

[2018-01-24 08:36] tienduccao commented on #331
Here is my $PATH ``/Users/tienduccao/sdks/spark-1.6.3-bin-hadoop2.6/bin:/Users/tienduccao/sdks/anaconda2/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/Users/tienduccao/.nexustools
[code]

[2018-01-24 08:38] tienduccao commented on #331
When I tried to use `get-pip.py` script, I got this message `Requirement already up-to-date: pip in ./sdks/anaconda2/lib/python2.7/site-packages`

[2018-01-30 09:23] laixintao commented on #326
+1 same issue here.

It seems like tmuxp ignore `focus` and focus window6 randomly.

[2018-02-01 18:37] soulofmischief commented on #331
@tienduccao do you see `tmuxp` in `~/.local/bin`? This is the default path for `pip --user` installation path on Linux, I'm not sure about OSX. If it is indeed there, you need to add that location to your `$PATH`. There are lots of guides on how to do this.

[2018-02-01 18:49] soulofmischief opened #334 "Add after_script upon exiting tmux"
Is it possible to watch for and act on an exit script for tmux?

I poked around the repo for before_script's implementation but couldn't find it. Is this a libtmux issue?

I'm willing to contribute to development of this feature if it wouldn't be much work.

[2018-02-07 00:00] savega commented on #221
Love it. Thank you

[2018-02-11 07:34] apurisrikanth commented on #251
hi  can some one explain me the below error
[root@node1 playbooks]# ansible-playbook  test.yml
ERROR! Syntax Error while loading YAML.

The error appears to have been in '/etc/ansible/playbooks/test.yml': line 2, column 7, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

—--
– name: Install Packages
      ^ here

exception type: <class 'ya

[2018-02-12 21:05] Alrefai commented on #326
I have the same issue, too.

[2018-02-21 12:24] #323 closed

[2018-02-21 12:49] maxekman commented on #323
Any answer to this?

(And why did the bot close this?)

[2018-03-03 20:51] tony commented on #264
@cryptojuice @roxit : You okay with relicensing your contributions to MIT?

[2018-03-04 02:32] #304 closed

[2018-03-04 21:04] tony opened #350 "Create contributing.md file"
Create a file that mentions conforming with flake8, updating docs, and writing tests for pull requests.

[2018-03-04 21:05] tony opened #351 "Create issue template"
Create an ISSUE_TEMPLATE in ``.github/``

[2018-03-04 21:08] tony opened #352 "Create a command to output debug info"
Create a command to output system information to be used. This should improve quality of issues/bug reports.

Should output:

- Python version
- system PATH
- tmux version
- tmuxp version
- tmux path
- tmuxp path,
- libtmux version
- shell
- output of ``tmux list-sessions``, ``tmux list-windows``, ``tmux list-panes``
- output of ``tmux show-options -g``, ``tmux show-window-options -g``

For use wi

[2018-03-04 22:56] tony opened #354 "Move retry to libtmux"
#353

Move retry to libtmux.test

[2018-03-05 03:07] #354 closed

[2018-03-10 02:19] dvzrv opened #360 "release to include libtmux 0.7.8"
hey there,

i moved tmuxp to Arch Linux' community repository. however, I oversaw, that 1.3.5 depends on libtmux 0.7.7.
Is it possible for you to release a new version that is working with 0.7.8?
I'd be happy to ship it right away, otherwise I would have to downgrade the libtmux package and that's an ugly business.

many thanks for this awesome software btw!

[2018-03-10 05:15] tony commented on #360
@dvzrv I think I'm going to ship a release tomorrow.

I'm going to be moving tmuxp to an org along with that.

[2018-03-10 07:03] tony commented on #360
Also, I may bump up libtmux version again to update to the new @tmux-python org.

Thank you for your kind words.

If you have time / python skills, or know any friends / audiences that may be interested: tmux-python is seeking maintainers to help pitch in. I'm democratizing things a bit around here and we really need some good minds passionate about tmux to help us. Maybe it's you. Maybe it's some

[2018-03-10 11:50] dvzrv commented on #360
@tony that sounds great! Would fix my problem in no time ;-)

I read about #290 a while back, but I currently have not enough time on my hands, as I do a lot of packaging for Arch, that requires me to better the pro-audio sector :-)

In any case, it sounds like an interesting opportunity to get into python again a little more. I'll have a look into it!

[2018-03-11 17:46] dvzrv commented on #360
@tony can you do a release, please?

[2018-03-11 17:47] tony commented on #360
Today. Yep.

It's okay with libtmux gets updated, and tmuxp gets updated, in sync?

[2018-03-11 19:03] pyup-bot opened #361 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-03-11 19:23] dvzrv commented on #360
Yes, as long as both stay in sync (version requirement wise), it'll always be fine for me to update the packages
--
https://sleepmap.de

[2018-03-11 21:26] #361 closed

[2018-03-11 22:00] tony commented on #264
Here is @roxit  and @cryptojuice's commits:

@roxit: acd882cf182b9ec98b9f592a6b89c7101eeba4a6 (doc update), 992a50c71187f676249e8eae9f549a19dc37d91d (loading detached)

@cryptojuice acd882cf182b9ec98b9f592a6b89c7101eeba4a6 (typo)

Last call 😆 It's been a couple of months and I want to release MIT. If you're willing to license your commits MIT, please respond here.

If there's no response, this lic

[2018-03-12 01:18] tony commented on #264
One of the code changes from @roxit, @cryptojuice's weren't revertable (findable) from master, so it looks like we're good to do the switch!

#363 merged. Updating LICENSE now.

[2018-03-12 01:24] #264 closed

[2018-03-12 01:30] tony commented on #360
1.4.0 is released.

libtmux 0.8.0 (https://github.com/tmux-python/tmuxp/blob/v1.4.0/requirements/base.txt)

[2018-03-12 01:30] tony commented on #264
1.4.0 is released.

We're MIT. :tada:

[2018-03-12 02:51] kageurufu commented on #264
Woot!

On Sun, Mar 11, 2018, 6:30 PM Tony Narlock <notifications@github.com> wrote:

[2018-03-12 06:17] Ilyes512 commented on #264
Nice! (but it took 10 months...wow. I wonder if asking permission was really necessary, besides being a nice thing to do)

[2018-03-12 12:08] dvzrv commented on #360
@tony thanks a lot!
I had an issue with one of the tests during build however, so I had to disable them for now. Will open a new bug report for it!

[2018-03-12 12:08] #360 closed

[2018-03-13 11:23] oblitum opened #364 ""no previous window" error message"
Following from #316 that got automatically closed, the problems still persist. [The tmux message "no previous window" always shows up when switching between tmuxp created sessions](https://github.com/tmux-python/tmuxp/issues/316#issuecomment-343607695). This started when #312 got merged in an attempt to fix  #309, but whose sole solution was actually provided for libtmux [here](https://github.com/

[2018-03-13 18:14] pjrulez commented on #326
Try with "- " in front of focus: 'true'.
This is an example of the beginning of my .yaml file until the end of 1st window configuration:
[code]
After this configuration for next window begind with - layout: and follows the same blueprint ending with window_name: X

Been just playing around, testing and it works fine on my side.

[2018-03-13 19:05] pjrulez opened #365 "Outputs % / percent sign after every command in some panes"
Just installed and playing around with a configuration. Running in gnome terminal with zsh and tmux.
This is the configuration of the 1st window where issue appears:
[code]

The issue is, when starting tmux session with "tmuxp load OMG" the 1st and 2nd pane display "%" after each issues command. Happens when the session is loaded with "l." and "screenfetch" and for every command issues afterward.

[2018-03-14 01:37] laixintao commented on #326
No, it didn't work:

[code]

[2018-03-14 06:48] oblitum commented on #365
I didn't mention this one at #364 to avoid confusion, but that issue explains where this behavior started to happen and why, if you downgrade to tmuxp 1.3.2/libtmux 0.7.4 I'm almost sure it will vanish for you too.

[2018-03-14 14:51] pjrulez commented on #365
Yeah, I tried. Uninstalled, installed with pip3 install tmuxp==1.3.2
It came with libtmux version 0.8.0.
Tested loading that same session. Issue still appeared. So I tried to downgrade libtmux to 0.7.4 which I couldn't do via pip3 so I played around in tmux only to find out error appears even in sessions that were not loaded from tmuxp. So when I realized that which I didn't notice before installi

[2018-03-14 16:35] oblitum commented on #365
Did you revert to libtmux 0.7.4? As I've commented on that issue you need to do so, problems started due to libtmux 0.7.5.

[2018-03-14 16:36] oblitum commented on #365
You need to revert both to the versions I mention.

[2018-03-15 01:52] tony commented on #365
@oblitum I need help maintaining libtmux and tmuxp. I have too much on my plate at the moment. If you could spread the word we're looking for help in #290, it'd be a big help.

As for the libtmux version, did we have it determined what piece of code did was the culprit?

[2018-03-15 18:30] oblitum commented on #365
@tony determined the culprit for the new problems, no. You commented that you would [try to reproduce it on more similar environment](https://github.com/tmux-python/tmuxp/issues/316#issuecomment-344060117), but it stopped there, hence [I've opened a new one](https://github.com/tmux-python/tmuxp/issues/364). Determined for the old problems, issue #309, I explain on #364 what was the actual culprit

[2018-03-15 19:06] oblitum commented on #365
Reminder that recently the packaged was moved from AUR to community on Arch, but sadly it's quite broken on Arch, AFAIK, due to #364 and #365.

[2018-03-15 19:35] pjrulez commented on #365
Sorry for delay. Okay so I did as you asked:
[https://s14.postimg.org/6wf23wbnl/tmuxp_issue_Screenshot_from_2018-03-14_19-52-30.png](url)
The image shows why I thought I can't install the version you suggested. However I did install tmuxp 1.3.2/libtmux 0.7.4 and the problem was sadly not resolved. The % kept on showing up. Sometimes it happens sometimes it doesn't I can't pin down the exact reason

[2018-03-15 19:41] oblitum commented on #365
Hmm, OK. So maybe this is harder to correlate than I though. I don't get the issue on 1.3.2/0.7.4, on latest I get this % issue: panes are created with a first char of %, following by lots of whitespace, and then the prompt, all panes show up like this. If it's happening for you even on 1.3.2/0.7.4, then I dunno.

[2018-03-15 20:00] pjrulez commented on #365
Okay so I'm using tmp addons tmux-continuum with resurrect and I kept the session I loaded using tmuxp before I removed it. I restarted my device and tested it a bit more and I found out it appeared again in some panes after I removed both libtmux and tmuxp and restored the session. After playing around a bit it didn't occur again, also it didn't occur with many windows and panes in a new session

[2018-03-15 20:54] oblitum commented on #365
I used tmux-continuum before and it presented issues regarding scrolling, I don't use it anymore. I think if you're gonna test this issue you should avoid this plugin because it keeps running in a loop and may cause conflicts.

[2018-03-19 07:43] Ilyes512 opened #366 "Is it possible to add commands without executing?"
So I got lots of docker projects and what  I usually do is have a split screen with on the left `docker-compose up` and on the right just the root of the project.

In my case I don't want to always start al projects. So I was wondering if it was possible to fill in `docker-compose up` in the pane without actually "submitting"/executing. So the only thing I have to do is switch to the pane and pres

[2018-03-19 08:30] Ilyes512 commented on #326
Focusing does not seem to work for me either. This is an example that I have (except for replacing the names):

[code]

When I execute the above it opens the window named ProjectUnkown instead of the one with the `focus` parameter. My tmux start counting from 1 instead of 0 so that might be the reason it did not open the last. (window 1 to window 6 instead of window 0 to window 5)

[2018-03-24 20:39] anselmos commented on #326
@tony PTAL - I might debug this and if I find what is wrong with it, try to fix it and create PR, but give me a hint if it's something that you already worked on or not ?

[2018-03-24 20:41] tony commented on #326
@anselmos Go ahead and give it a shot. This is an open issue

[2018-03-27 05:57] vinipsmaker opened #370 "Focus doesn't work"
I'm a new `tmuxp` user (have been using `tmux` for some months and decided to give a try to tmux session managers) and it doesn't focus on the proper window at all. I've tried several different combinations and none works. My last try was:

[code]

Window `services` was end up being the window focused once I load the session. No idea why this happens.

My system:

- ArchLinux.
- tmux 2.6
- tmuxp 1

[2018-03-27 06:51] anselmos commented on #370
There is related issue about that -#326

[2018-03-30 17:47] cowboy commented on #364
I also see this, when switching to a session that has only one window. Once I've created a second window in the target session (it can be subsequently deleted) I no longer see the "no previous window" error message.

I'm using tmuxp 1.4.0 and tmux 2.6 in MacOS 10.13.3.

[2018-03-30 22:15] yargevad opened #373 "Add window to current session"
#289 mentions this, opening a PR with a solution that works for me

[2018-03-31 20:31] oblitum commented on #364
@cowboy have you tried to use the pinned versions I mention to avoid the issue?

[2018-04-01 15:19] tony commented on #364
Maybe it would make sense to only create the hook based on a condition of current windows/panes open? Or to make the conditions of the hook more specific?

[2018-04-01 15:20] tony commented on #364
As an idea, it'd be helpful to create a test case / PR that recreates this error.

[2018-04-01 15:31] oblitum commented on #364
My test case is just:

Is anything left to describe how to reproduce it? Also, same thing [in the previously auto closed issue](https://github.com/tmux-python/tmuxp/issues/316#issuecomment-343607330):

[2018-04-01 15:42] tony commented on #364
Yeah I'm reproducing it. Thanks.

The other issue is I haven't been building regression test suites for stuff like this. without that it turns into a whack-a-mole where fixing one bug, unveil another.

If the issue was recreated in the test suite it helps me to debug it. I know it takes time. I'm stretched a bit thin and need help with the project. It helps with the regression part of it.

The mos

[2018-04-01 15:46] oblitum commented on #364
All I can say is that it was added on the #312 convoy. I still don't know whether #312 brought any value. As I explain in this issue's description, #309 was fixed by [this](https://github.com/tmux-python/tmuxp/pull/312#issuecomment-343374059) and [this](https://github.com/tmux-python/libtmux/commit/2e41f7cb76c6358eabb3ef2e287ebb50fed3e660), so what does #312 do? I don't know, maybe just try revert

[2018-04-01 15:50] tony commented on #364
@oblitum Yeah

#312 needs a regression suite built around it.

It's necessary because 2.6 introduced an issue where the dimensions of unattached screens can't calculate layout info/switch layouts. get what I mean? That's why the hook was added.

The the thing is, the hook may need to be tailored to fit more specific instances so issues like this don't bubble up. Whether it's:

- the conditions und

[2018-04-01 15:52] tony opened #375 "Create regression suite for #312"
Effects issues like #312, and spin-off tickets like #326/#370 (focus), #364 ("no previous window)

See https://github.com/tmux-python/tmuxp/issues/364#issuecomment-377795942.

[2018-04-01 15:53] oblitum commented on #364
I don't know what you mean. I'm still frozen on tmuxp 1.3.2/libtmux 0.7.4 because it works, and I'm on tmux 2.6.

[2018-04-01 15:53] tony commented on #364
I created at TODO issue at #375 which should help servicing issues around #312. It's create a test fixture checking out that tmux hook/seeing what's up.

[2018-04-01 16:03] tony commented on #316
Reopening

Is this the issue preventing you from using tmuxp at the latest version?

[2018-04-01 16:04] tony commented on #364
That post was purely development related: Tests need to be written to recreate the bugs, and to make sure that bugs that take time to replicate are automatically checked for to make sure they don't come up again. https://en.wikipedia.org/wiki/Regression_testing

Are you having this issue on the latest tmuxp/libtmux? I'm assuming yes, because I created it.

I reopened #316 to look at recreating/get

[2018-04-01 16:07] tony commented on #316
Just to make sure, you can still load the windows/panes via tmuxp. But the session zoom breaks the zoom state after tmuxp loads it, and it started happening after the hook added when fixing #312?

Got it. So if #364 is fixed, this should be fixed?

[2018-04-01 16:25] oblitum commented on #364
As I reported:

I just tried 1.4.0 once, hopping this got fixed, and then went back to 1.3.2.

???

[2018-04-01 16:35] oblitum commented on #364
I meant that I don't know what you mean with _"It's necessary because 2.6 introduced an issue where the dimensions of unattached screens can't calculate layout info/switch layouts. get what I mean? That's why the hook was added"_, which is not purely development related, it tells about some feature that looks like it should be crucial for me as a user on tmux 2.6, but which in truth I have no idea

[2018-04-01 16:38] oblitum commented on #316
Most probably yes.

[2018-04-01 16:39] oblitum commented on #316
#364 is just a reopened duplicate of this one due to the stale bot.

[2018-04-01 16:40] oblitum commented on #316
I thought #364 description was pretty clear on that...

[2018-04-01 16:40] tony commented on #364
Got it.

Added explanation: tmux 2.6 requires that tmuxp's workspace builder, in some fashion, adds a hook to handle layout stuff. What this means is layout proportional stuff is deferred until the user attaches the session itself. That's what #312 did.

It's possible we may even need similar fixes for focus stuff with a hook, (e.g. #326/#370), but I haven't checked yet.

[2018-04-03 14:01] cowboy commented on #364
@oblitum I don't know what you mean by "pinned versions." Can you elaborate? Thanks!

[2018-04-03 14:07] oblitum commented on #364
@cowboy I state in the issue description that tmuxp 1.3.2/libtmux 0.7.4 is the last release that's usable.

[2018-04-18 07:31] zhangnew opened #376 "run shell_command list like expect script"
I use tmux 2.3, tmuxp 1.3.5, Python 3.6.4, when I use this config:
[code]
when ssh command slow, these two command run together, not run `pwd` in machine `x.x.x.x`

if run in `expect` , such as `expect "*#" { send "pwd\r" }` means when run `ssh root@x.x.x.x` done and show command prompt `*#`, then run `pwd`.

instead of run commands like this https://github.com/tmux-python/tmuxp/blob/18f7492891b8a

[2018-04-19 22:12] dvzrv opened #377 "tests/test_workspacebuilder.py::test_pane_order does not return"
During packaging tmuxp and after building tmuxp, I run the tests using `python3 setup.py test`.

However, test_workspacebuilder.py does never return (hangs forever) and I have to kill the build and build without tests (not good):

[code]

Do I have to run the tests somehow differently? Am I missing something?

[2018-04-20 08:48] ThiefMaster opened #378 "create pane failed: pane too small"
Not sure if this can be fixed in tmuxp somehow or is a general tmux shortcoming...

But when trying to load a tmuxp config containing this window definition, it fails with "pane too small":

[code]

[2018-05-01 13:23] arturbalabanov opened #384 "Add support for tmux 2.3's pane status text"
Since version 2.3 tmux is able to assign a title to a pane which can be shown using the `pane-border-status` option. Additionally the option `pane-border-format` allows to set that title. However, this option applies to all panes and if you want to have per-pane specific title you have to use escape sequences, at least I'm not aware of a more elegant solution. Using that, it is indeed possible to

[2018-05-07 18:09] beaugunderson commented on #334
I started investigating tmuxp because this feature exists but is currently broken in tmuxinator and I was hoping to switch. :)

[2018-05-17 03:12] jameh opened #386 "Can't load tmuxp session from script"
I'm running into a problem with spawning the tmuxp program as the start command for a new terminal, in particular with the i3 window manager. I am using `st` for example, but I also tried `termite`.

From a terminal, if I write:

[code]

everything works fine: a new `st` instance is opened, `tmuxp` loads `mysession`, and when I kill `mysession`, that `st` instance dies as well.

I can even put tha

[2018-05-22 05:55] ritiek commented on #290
It probably won't make sense for me to be a maintainer since I am lack on time as well but I'll see around if I can help a bit whenever I get time and the mood. :D

[2018-05-22 06:53] suprematis commented on #290
I can volunteer for performing QA.  Feel free to DM me.

[2018-05-29 12:52] gunzapper commented on #290
I would help you. I could take a look at issues and also to the QA of merge request. Currently I use tmuxinator... but I am going to start to use tmuxp.

[2018-05-31 20:17] jameh commented on #386
So, I figured out a better way to call tmuxp from i3, something like:

[code]

So `st` spawns a `bash` process which replaces itself with a `tmuxp` process via the `exec` command. This way, when the resulting tmux session closes, the terminal exits, which is fine for me.

[2018-05-31 20:17] #386 closed

[2018-06-02 21:14] MaPePeR opened #391 "Empty line in `shell_command_before` results in Exception"
[code]

[2018-06-11 13:57] Nekomata-Sensei opened #394 "cant start tmuxp via systemd .service"
when i run tmuxp  in terminal, it works just fine.

for instance:
tmuxp load -d deployment/presence.tmux.yaml

then if i execute the same thing via systemd .service script it crashes.

[error-trace.txt](https://github.com/tmux-python/tmuxp/files/2090246/error-trace.txt)

i was trying to debug it myself and found interesting thing.
i have added pprint(kwargs) right before assertion.

in good case i

[2018-06-11 14:32] Nekomata-Sensei commented on #394
SOLVEDL

the issue was wrong locale of systemd.
linux has to be rebooted after locale change!
from en_US -> en_US.UTF-8

beacues it seems that systemd was still using old locale and tmux output was different
depending on how it was startet.

if it executed by bash: the output =
u'presence\t1\t800\t600\t$0\t1528727055\t\t0\t0\t'

and if its run by systemd =
 u'presence_1_800_600_$0_1528727029__0_0_

[2018-06-11 14:32] #394 closed

[2018-06-14 08:44] arkmagus opened #395 "Create a new window with multiple panes"
Hi,

I wonder if it is possible to append a session (consists of one or multiple windows) from other.yaml when I am already running main.yaml.

For example :
I have main.yaml that contains my daily work environment. So the window list are: [1] vim [2] ranger

However, depends on the project, I need to ssh to certain computers. In the end, my window list will become [1] vim [2] ranger [3] ssh gpu1

[2018-06-25 23:09] ionsquare commented on #373
Just wanted to link this to the PR #374

[2018-07-01 09:29] synthmeat opened #399 "Fails to install via pip3 and Python 3.7.0 on macOS 10.13.5"
PyYAML by itself installs correctly, but as dependency of tmuxp not.
This is the output:

[code]

[2018-07-02 08:32] yuankunzhang commented on #399
I encountered the same issue.

[2018-07-03 14:06] tony commented on #399
@yuankunzhang @synthmeat This is based on the pyyaml dependency of tmuxp (which comes from kaptan).

[2018-07-03 14:16] tony commented on #399
Try `pip3 install pyyaml==4.2b4`

See also:
- https://github.com/yaml/pyyaml/issues/126
- https://github.com/aws/aws-cli/pull/3414

[2018-07-03 18:32] adambiggs commented on #399
@tony I tried installing `pyyaml==4.2b4` but I still get the following error when trying to start tmuxp:

[code]

[2018-07-03 18:34] tony commented on #399
@adambiggs That looks like it could be an issue with the environment setup.

Are you using ``pip install --user tmuxp`` or ``pip install tmuxp``?

Can you try to uninstall via
``pip uninstall --user tmuxp``
``pip uninstall tmuxp``

If you use system packages, reinstall there ``pip install tmuxp``, user packages: ``pip install --user tmuxp``

Then do `pip install pyyaml==4.2b4`, or `pip install --u

[2018-07-04 07:30] synthmeat commented on #399
For me, none of the uninstall/install user/global procedures (with that particular pyyaml version) helped, same error message - kaptan still depends on 3.12.

@tony I can see that you're already in on it here https://github.com/emre/kaptan/issues/89.

[2018-07-04 13:39] tony commented on #399
@synthmeat Yes, I'm aware of this

The problem is, Python 3.7 breaks compatibility with pyyaml.  Then Pyyaml 4.1 broke compatibility with python 2.7 (apparently, some how)

A few days later, pyyaml 4.1 was retracted. There is no official pyyaml 4.x release at the moment: https://pypi.org/project/PyYAML/#history

So pyyaml 3.13 will be released soon. https://github.com/yaml/pyyaml/issues/126#issuec

[2018-07-06 17:02] tony commented on #399
@synthmeat @yuankunzhang Is it better now that pyyaml 3.13 is released?

[2018-07-06 18:16] oliverralbertini commented on #399
Not for me. I had already successfully installed pyyaml 3.13, then tried to install tmuxp:

[code]

[2018-07-06 22:35] tony commented on #399
@oliverralbertini I see.

Kaptan has the release version locked

I'll bump the kaptan version tomorrow, which has a more relaxed version requirement. And then the tmuxp/vcspull/cihai versions.

That will have us compliant with Python 3.7 by the looks of it.

In the mean time, try this: ``pip install --user pyyaml==3.13`` after installing tmuxp.

[2018-07-06 23:31] tony commented on #399
Kaptan updated to 0.5.10

Still have to update tmuxp/vcspull/cihai

[2018-07-07 00:46] oliverralbertini commented on #399
@tony works now! Thanks.

[2018-07-07 06:49] synthmeat commented on #399
Works now for me too. Thanks.

[code]

[2018-07-15 20:05] vn-ki opened #405 "ValueError: Session requires a `session_id`"
I am getting the following error in all configurations. (I tried the config from the readme as well)

[code]

[2018-08-06 14:12] georgreen opened #412 "Command `pipenv shell` and `workon <virtuelenvhere>` commands cause other not to run."
**Current behavior**
The `pipenv` and `workon` command blocks others from running.

**Expected behavior**
- Run `pipenv` or `workon` to activate virtual env then run the other commands.

#### Relevant tmuxp configuration
<img width="959" alt="screen shot 2018-08-06 at 17 03 49" src="https://user-images.githubusercontent.com/17669596/43721171-c559ace8-999a-11e8-962c-acda5a3386cf.png">

#### Screens

[2018-08-06 17:33] tony commented on #412
Yeah I faced similar issues with `pipenv shell`.

Does this work better? ``source `pipenv --venv`/bin/activate``

Example: https://github.com/tmux-python/tmuxp/blob/c6dd4ff/.tmuxp.yaml

[2018-08-07 09:07] georgreen commented on #412
@tony Thanks that solves the issues for commands not running but the virtual env is not activated properly using that method. I have also noticed that when I load my pyenv, the startup time increases significantly.

Screenshot:
- command works before: tmux not loaded
<img width="1628" alt="screen shot 2018-08-07 at 12 00 08" src="https://user-images.githubusercontent.com/17669596/43765829-8cad2d8a

[2018-08-07 20:08] ardeidae commented on #190
Hello,

Is there still no solution to this problem?

Adding:
[code]

Give the error, too:
`complete:13: command not found: compdef`

Matthieu

[2018-08-12 05:10] cuongta opened #413 "ete"

[2018-08-12 05:10] #413 closed

[2018-08-18 19:36] matthew-nm commented on #365
I'm getting the same issue with Kubuntu 18.04, tmux 2.6, and tmuxp 1.4.0.

[code]
The two git panes in the first window have the highlighted % sign and a few blank lines, then the command prompt. Note that the `git log` command opens to a pager and I don't know if tmuxp without this bug would normally leave it in that pager, but in this case it is not in a pager, but has the %, blank lines, and ne

[2018-08-20 23:00] einarc commented on #251
@srikanth1201  yamllint.com

There's a missing space between - and name

You have
`– name: Install Packages`

It oughta be:
`–  name: Install Packages`

Use the site above or install a linter to validate your code from now on.
Cheers.

[2018-09-06 11:12] rightaway commented on #326
Works for me when `focus` is set on the pane, but doesn't have any effect when set on the window.

[2018-09-06 11:15] rightaway opened #422 "start_directory doesn't work when set on session, window and pane"
When `start_directory` is set on all of session, window, and pane, it doesn't work as expected.

It should concatenate directories for session + window + pane, inheriting from the parent level if nothing is specified.

So a pane that has no start_directory on window should get the directory from session + pane. And a pane that has nothing set for itself should get the directory from session + wind

[2018-09-26 11:17] vmalloc opened #429 "Avoid pinning exact version for Click"
We use tmuxp and click. The fact that tmuxp pins an exact version prevents libraries such as owers from ever benefiting from hotfixes until a new tmuxp version is released..

IMO You should use either `click~=6.7` or `click<7`

[2018-09-27 02:54] tony commented on #429
v1.4.1 is live

[2018-09-27 04:17] vmalloc commented on #429
Cool! Thanks!

[2018-09-27 04:17] #429 closed

[2018-09-27 09:56] dvzrv opened #431 "Tests not included in pypy srcdist"
The pypi source tarball does not provide the tests. Please include them!
I'm packaging tmuxp for Arch Linux and we usually try to exclusively use the pypi sources for python packages.

[2018-09-27 10:07] dvzrv opened #432 "Remove version pinning"
The Pipfile lists many version pinned requirements.
IMHO requirements should ideally never be version pinned (only if really really required).
Please remove the version pinning, where not needed!
It's hard to do proper packaging with this (especially for distributions, that follow upstream closely, such as Arch Linux).

[2018-09-27 18:47] dvzrv opened #433 "tests fail because of click with 1.4.1 ( TypeError: Arguments take exactly one parameter declaration, got 2)"
When building and testing tmuxp 1.4.1 for the Arch Linux package, I currently have many broken tests (we're on click 7.0 already):

`python setup.py build`

`py.test`

[code]

Were the tests not ported or is tmuxp broken with click > 7.0?

[2018-09-29 01:58] tony commented on #433
Click 7 came out a few days ago. Which is a bit of a surprise, since it hasn't been updated in years.

Work around is to `pip install --user click<7` (1.4.1 actually requires that if you check)

[2018-09-29 01:59] tony commented on #433
If you were able to PR a fix for those arguments, that'd be awesome.  I think it's something to do with our color setting flags.  Click 7's API seems to have changed with them

[2018-09-29 22:29] tony commented on #432
It'd be helpful to clarify if Pipfile plays a role in the packaging (I only really use Pipfile for development).

And second, what would a requirements/*.txt / Pipfile look like that didn't conflict downstream. I'd like to be helpful as possible to packagers, but would like an example.

Some considerations: click < 7 isn't supported yet, and we need a minimum version of pyyaml for python 3.7 suppo

[2018-09-30 09:42] dvzrv commented on #432
@tony sorry for the misunderstanding: I meant this more as a general recommendation!
Pipfiles are not used in our scenario, as we are building with setuptools (for the filesystem integration and all that).

However, I thought the Pipfile displayed the current use of all requirements (and I was kinda right).
When looking at `requirements/base.txt`, we have e.g. `colorama == 3.9.0`. Is that really r

[2018-09-30 09:43] dvzrv commented on #432
On the `click` topic: So `tmuxp` 1.4.1 is not yet compatible to `click` >= 7.0, correct?

[2018-09-30 14:29] tony commented on #431
v1.4.2 is live on pypi for tests

also v1.4.1 loosens click restraint to <7

[2018-10-01 09:46] dvzrv commented on #331
@tienduccao I recommend to not even start dealing with the outdated (bundled) python2 on macOS and install it yourself on top. There are some neat integrations, such as [pyenv](https://github.com/pyenv/pyenv), that you can use to have (multiple) native python2s and python3s specifically for your user!

Another way you can have a more up-to-date python2/3 is to use the `python@2` and `python` (that

[2018-10-01 10:42] tienduccao commented on #331
Thanks all your for help.

[2018-10-01 10:42] #331 closed

[2018-10-01 14:01] davidism commented on #433
Was pointed at this from an issue on Click. The issue in your case is lines like this:

https://github.com/tmux-python/tmuxp/blob/73cfb72c69ba51c4c48c4509cd5e668f64d1c8d4/tmuxp/cli.py#L722-L724

It should be `type=click.Path(exists=True)`. As written, that's not actually applying the `Path` type, but due to the way arguments were created, Click 6 silently ignored it. Click 7 makes it explicit that

[2018-10-01 14:55] dvzrv commented on #432
@tony please consider making this a higher priority, as tmuxp is now not working anymore:

[code]

To get back on topic: More hard version pinned requirements will break tmuxp, even if that dependency works in a higher version.
In this case it's click that really breaks it, but still... it's unnecessary, as it keeps the project on a specific version of some library for too long.

[2018-10-01 16:39] tony commented on #432
@dvzrv
I agree with loosening pin constraints and am happy to accommodate that.

There's also a reason why we enforce constraints, for instance: Click 7 *will* break tmuxp. That's why that's pinned.

Click 7 PR: https://github.com/tmux-python/tmuxp/pull/434

Re:

I believe 1.4.1 and 1.4.2 is click < 7.

I've had the opposite issue. I've had the issue before where *not* pinning ended up breaking tm

[2018-10-04 03:30] rfoliva commented on #432
Hi @tony,

I think what we need is a middle ground. The current pipfile freezes every dependency. What I think we need is to freeze only ones that break tmuxp for one reason or another, until cycles to address the problems comes or based on release cycle.

Here is an example of Pipfile, with this in mind:
[https://github.com/requests/requests/blob/master/Pipfile](url)

This is from requests packag

[2018-10-04 06:37] rfoliva commented on #432
https://github.com/tmux-python/tmuxp/pull/436

Feel free to assign this issue to me. Happy to help.

[2018-10-06 06:41] rfoliva commented on #432
https://github.com/tmux-python/tmuxp/pull/436 has been merged.

@tony - I think we can close this issue.

[2018-10-08 14:59] rfoliva commented on #432
@dvzrv - Believe this has been addressed now, in a recent merge. Can you please try again and let us know so we can close this issue?

Thanks!

[2018-10-14 16:33] rfoliva commented on #432
Closing this issue due to inactivity.

We believe the issue / request has been addressed. If there are still any problems around this, please advise us by create a new issue, possibly referencing this one.

Thanks!

[2018-10-16 14:35] Azulinho opened #442 "shell_command prefixes commands with an extra ' '"
Trying to set a shell_command as ``` - shell_command: [ 'bash -l', 'nix repl', ':l <nixpkgs']```

However it will prefix my ':l < nixpkgs >' with an extra space, that causes the nix-repl command to fail as it's not a valid command

[2018-10-16 14:43] Azulinho commented on #442
looks like its due to:
https://github.com/tmux-python/libtmux/blob/a0146bae0a6c2862f3124c65fe3aa15925ad0adb/libtmux/pane.py#L96

https://github.com/tmux-python/libtmux/blob/a0146bae0a6c2862f3124c65fe3aa15925ad0adb/libtmux/pane.py#L112

[2018-10-16 14:51] Azulinho commented on #442
setting

    suppress_history: false

works here

[2018-10-16 14:51] #442 closed

[2018-10-17 04:04] rfoliva commented on #366
Hi @Ilyes512 ,

I apologise for the delay in responding to your question. This is not currently possible as per design. so the short answer is no.

Specific to the use case, I cannot see this as something I would use myself, and that does not mean it cannot / should not be done. I would use a quick short shell alias for commands that I use often as an alternative, in the meantime.

Can you provide

[2018-10-18 15:14] Ilyes512 commented on #366
At this point I don’t use tmux anymore. My use case is in the initial post above. I frequently worked on different projects. I wanted to use tmuxp to configure all my workspaces, but I didnt wanted the (little) overhead of running al containers if I wasn’t working on them. So in case I do want to work on a project it would have been nice to switch to it and hit return to start.

[2018-10-18 15:14] #366 closed

[2018-10-19 03:57] rfoliva commented on #366
Hi @Ilyes512 ,

Thanks for getting back to me and closing. I hope that you find more reasons to use tmux, and tmuxp (of course!).

I have been thinking about this though, and had an idea that proved to work. Give it a try:

`shell_command: read && docker-compose up`

This will give you the behaviour your are looking for. I tried and it works.

I hope this helps!

Thanks,
Ricardo

[2018-10-19 06:48] rfoliva commented on #350
Added CONTRUTING.md and CODE_OF_CONDUCT.,md to both libtmux and tmuxp.

[2018-10-19 06:48] #350 closed

[2018-10-19 07:06] Ilyes512 commented on #366
If I ever decide to come back to tmux I will definitely try this :) thanks for your time!

[2018-10-19 14:55] Phantas0s opened #445 "tmuxp fails after update of Colorama from 0.3.9 to 0.4.0-1 on Arch Linux"
tmuxp fails after I updated my Arch Linux install because of a new version of python-colorama (I believe)

The version on my machine is: python-colorama 0.4.0-1

Here the error message:

[code]

[2018-10-20 08:41] dvzrv commented on #432
@rfoliva sorry for not getting back earlier. I have many packages and life ;-)

I guess this issue is not really solved, as there are still hard version requirements, that break tmuxp (see #445 for current issues with colorama, which I even mentioned earlier in this issue).

I think I can only remove all hard version pinning for this package to function properly in the future on the OS level. Even

[2018-10-20 08:51] dvzrv commented on #433
@tony Seems all fine in 1.5.0a. Thank you!

[2018-10-20 08:52] dvzrv commented on #445
I have [removed the version pinning](https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/tmuxp&id=a0cbc3ea0fa3f2ac354bbb25a072484592619b0d) for the package before build.

[2018-10-23 02:47] rfoliva commented on #432
Thanks @dvzrv.

What version are you tracking for this Arch package? Any specific tag?

I have pushed the unpinning on to master using Pipfile / Pipfile.lock, so I believe it has not been applied to version you are tracking.

How are you building your package? Using OS repos (stable / dev). I have been meaning to reach out to package maintainers to find out how they build their packages and see ho

[2018-10-23 03:18] rfoliva commented on #445
@Phantas0s - Thanks for raising this. We are working with @dvzrv who is the package maintainer for tmuxp (Arch distro). He has already put in an interim solution for his package and we will be addressing this on our side, in hopes this is no longer needed and does not happen again.

As such, can we close this issue and continue to work on this via #432 ?

Please let me know.

Thanks,
Ricardo

[2018-10-23 03:33] rfoliva commented on #433
@dvzrv - Can we close this issue or do you feel anything else is needed here?

Thanks,
Ricardo

[2018-10-23 03:49] Phantas0s commented on #445
@rfoliva Yes sure. I close the issue now. Thanks for the quick fix!

[2018-10-23 03:49] #445 closed

[2018-10-23 04:09] rfoliva commented on #445
Thanks @Phantas0s , but the credit goes to @dvzrv on this one. ;)

[2018-10-23 19:46] dvzrv commented on #433
@rfoliva sure thing, go ahead! :)

[2018-10-23 19:58] dvzrv commented on #432
@rfoliva yes, as mentioned [here](https://github.com/tmux-python/tmuxp/issues/432#issuecomment-425708153), we use setuptools.
Currently, I build 1.5.0a (as you rightfully pointed out in your comment), because we are on a higher click version in the repos already.

I do understand, that hard version pinning makes sense in a development process, but it is also a bit painful for Arch maintainers ;-)

[2018-10-24 01:40] rfoliva commented on #433
Thanks @dvzrv !

[2018-10-24 01:40] #433 closed

[2018-10-26 16:54] kaushalmodi opened #449 "tmux version "next-2.9": TypeError: '<' not supported between instances of 'str' and 'int'"
Hello,

One of the 2 upgrades (python or tmux) broke `tmuxp` for me:

- tmux next-2.9 (using the latest tmux built from master as of today)
- Python 3.7.0

I uninstalled and reinstalled tmuxp using:

[code]

But when I try to load a tmuxp config (as I always do, and worked), by doing `tmuxp load servers -d`, I get:

[code]

[2018-10-26 17:00] kaushalmodi commented on #449
Maybe tmuxp doesn't like the new non-int version string of tmux? https://github.com/tmux/tmux/commit/bc6211cca5b06714ea2e57f247cd98b509a441c1

[2018-10-26 17:06] kaushalmodi commented on #449
I confirm this bug in tmuxp. After I reverted that specific commit in tmux, and rebuilt it, tmuxp works fine.

[2018-10-29 09:19] jgb commented on #326
I confirm that even today with the newest version of tmuxp that focus works on panes, but has no effect on windows.

[2018-11-02 19:03] fourjay opened #451 "load ordering"
Somewhere in the current (from git) tmux and current tmuxp, I've lost the ability to run tmux layout tweaking code from a pane command.

Use case: I want a simple layout not covered by tmux's stock layouts, one pane 80 columns, the other pane the rest of the screen width. This allows me to put terminal apps that expect 80 columns in a convenient pane that matches expectations. I was doing this wit

[2018-11-03 13:11] fourjay commented on #451
I've found a partial workaround, specifying target in the resize command. Focus is still unpredictable. It makes good sense that a tmux command as a shell_command is... problematic. Is it possible to add a complement to ``before_script`` to allow end of setup tmux tweaks?
More reading, and I see the possibility of freeze or explicit layouts, but this approach is fragile for my use case, as it depe

[2018-11-09 11:27] jrjsmrtn opened #454 "Add a "zoomed" pane option"
If I'm not mistaken, there is no way to zoom a specific pane when loading a `tmuxp` session. That would be a nice addition.

[2018-11-09 12:16] jrjsmrtn commented on #454
As a workaround, I just realized that I could perform a `tmux resize-pane -Z` as the first `shell_command` of the pane I want zoomed...

[2018-12-22 14:50] ariep opened #467 "Wrong command output width on load"
When loading a simple tmuxp config with two panes next to each other, it seems the shell command specified in the config is run before the pane configuration is completely set up. This has the effect that the program that runs in the pane detects the wrong terminal width, probably the whole screen instead of only half. In turn this means that the program output has ugly line splits.

Would it be p

[2018-12-26 06:43] mayanksuman commented on #405
The same error occurs for me. I am using following versions of programs/libraries.

tmuxp 1.4.2
libtmux 0.8.0
python 3.6.8
tmux 2.8

[2018-12-27 22:33] OdinsHat opened #468 "What can this do that tmuxinator can't?"
**Simple question:** I already know [tmuxinator](https://github.com/tmuxinator/tmuxinator) as do a lot of people. Does this have any benefits over that? What are they?

[2018-12-30 18:14] tony commented on #468
I haven't used tmuxinator in years.  (Though I used to, as well as teamocil, before tmuxp)

I used to keep a comparison at http://tmuxp.git-pull.com/en/latest/about.html#differences-from-tmuxinator-teamocil but it could use an update. If you (or anyone else) likes tmuxp feel free to update the comparison.

[2019-01-08 09:09] pgaxatte opened #469 "Setting the current working directory is not persistent"
When creating a simple session like this:
[code]

It creates a window in the right directory but if I open a new window, it falls back on `$HOME`.
I don't have this behaviour with `tmux new -s test -c /tmp`.

tmux version: 2.6
tmuxp version: 1.4.2
libtmux version: 0.8.0
tmuxp and its dependencies were installed via `pip install --user` (python2)

[2019-01-14 23:13] Pastafarianist opened #470 "KeyError"
A rather simple `.yaml` config triggers a `KeyError`:

[code]

[2019-01-16 15:07] tony commented on #470
@Pastafarianist

The second windows needs a pane

[code]

Though I think it makes sense to infer a pane without it. We should add this to tmuxp. It's a good idea!

[2019-01-25 00:57] sloria commented on #449
I also ran into this using the tmux `next-2.9` (the latest Homebrew release). The issue is in libtmux. I sent a PR https://github.com/tmux-python/libtmux/pull/172 and verified that it works .

[2019-01-25 02:20] #449 closed

[2019-01-25 02:21] tony commented on #449
@kaushalmodi @sloria I'm going to tag a release this weekend. Maybe sooner.

[2019-01-25 02:21] tony commented on #449
@kaushalmodi @sloria and anyone who reads this, tmux-python is looking for help: #290

[2019-01-25 04:11] sloria commented on #290
@tony You might consider putting this project under the Jazzband org: https://jazzband.co/ .

[2019-01-29 16:04] ashdo commented on #326
i've fixed some typos and focus works for me
https://github.com/tmux-python/tmuxp/pull/473/files

[2019-01-29 21:08] dvzrv opened #474 "Components for packaging missing in sdist tarball"
The tests/fixtures/.sh scripts are missing in the pypi source tarball, making it impossible to run the tests using that tarball. Please add them and check, if there's anything else missing!

[2019-02-01 13:08] sam-lunt opened #475 "Incorrect directory when XDG_CONFIG_DIR is set"
When the `XDG_USER_CONFIG` variable is not set, tmuxp defaults to using [`~/.config/tmuxp`](https://github.com/tmux-python/tmuxp/blob/52762f31c2b1f2abfa5841211a402d5e100735e5/tmuxp/cli.py#L55). `~/.config` is a reasonable guess for `XDG_USER_CONFIG` (and I'd assume most people who've set XDG_USER_CONFIG have set it to be `~/.config`). However, when `XDG_USER_CONFIG` is set, tmuxp doesn't do `os.pa

[2019-02-01 13:18] sam-lunt commented on #475
To give a little more context, I have my tmuxp configuration files in `~/.tmuxp`, but after updating tmuxp, I'm getting errors when I try to load a session. The reason for that is because I have `XDG_USER_CONFIG` set, causing tmuxp to look there for config files. Ideally, I'd like to place my config files in `$XDG_USER_CONFIG/tmuxp`, but it seems like I'd have to run tmuxp with `XDG_USER_CONFIG` u

[2019-02-12 05:15] rfoliva commented on #432
I think this should be addressed officially with release of 1.5.0. No need for alpha anymore.

Can you please confirm @dvzrv so we can close it?

Thanks!

[2019-02-12 05:23] rfoliva commented on #377
This is an old one, so I wanted to confirm if it is still an issue @dvzrv .

Can you please let me know? Normally, in the project root with virtualenv activated, I just run:
`
$ make test
`

This seems to work for me and it is possibly no different than your method. But can you please let me know if you still have issue with tests, or does that help?

Thanks,
Ricardo

[2019-02-12 06:33] rfoliva commented on #474
Hi @dvzrv.,

I think I found the issue and should have this fixed soon, after discussing it with @tony on how to best address the issue.

Thanks,
Ricardo

[2019-02-12 11:52] dvzrv commented on #377
Yes, this is still a problem. I run `py.test` and [currently exclude that test](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/tmuxp#n31).

[2019-02-12 11:53] dvzrv commented on #377
If it is of any help: I see a tmux instance/session being created after running the test, but that instance is never closed and never changes. py.test therefore never returns.

[2019-02-14 21:17] Blake-LeBlanc commented on #454
Would you provide an example? I'm trying to accomplish the same thing and the shell_command doesn't seem to be working... Thanks!

[2019-02-15 08:20] jrjsmrtn commented on #454
Here is an example:

- window_name: shell
  layout: even-horizontal
  options:
    automatic-rename: false
  panes:
    - focus: true
      shell_command:
        - tmux resize-pane -Z
        - mc
    - ipython

But... in fact it doesn't work as I expected: "resize-pane -Z" works as a
toggle.

On Thu, Feb 14, 2019 at 10:17 PM Blake-LeBlanc <notifications@github.com>
wrote:

[2019-02-15 15:36] Blake-LeBlanc commented on #454
Thank you @jrjsmrtn! It's an odd thing... Whenever I manually type out the command in the terminal, the zoom happens as expected. But for some reason, whenever tmuxp includes the command as part of the shell_command, it doesn't take...

Maybe it has something to do with the "toggle", as you pointed out. I'll keep messing with it, thank you again for your quick reply!

[2019-02-18 07:48] rfoliva commented on #474
Hi @dvzrv,

I have just released v.1.5.1 to pypi and created new tag v1.5.1 in the repo.

Can you please try and let me know if you are now able to build it correctly?

Thanks!

[2019-02-18 20:11] rfoliva commented on #377
Hi @dvzrv,

Can you please try with v1.5.1 and let me know if problem is still there?

If so, can you please confirm OS details / arch and Python details, so I can try to reproduce this with vagrant? I believe Arch Linux, but wanted to be sure of additional details.

Thanks,
Ricardo

[2019-02-18 20:51] rfoliva commented on #217
Hi @sdelafond,

I am trying to clean up our older issues, and you are first one on the list.

I tried this tmuxp 1.3.5 (from Ubuntu repos) and our latest 1.5.1 and I received the correct results on (0 and 1) for the respective windows.

As this has been open for a while, and I cannot reproduce it, can you please let me know if you are still having this issue? If so, anymore details would be apprec

[2019-02-19 07:50] sdelafond commented on #217
Hi @rfoliva, I definitely still see the issue here.

With the test.yaml from my 1st comment, using 1.4.0, I get "0" echoed in both windows instead of "0" and "1". Same thing with 1.5.0a (FTR libtmux is 0.8.0 in that latter case).

I also tested with a brand new user having no special .bash* or .tmux.conf config files, just to make sure my own shell/tmux settings didn't interfere:

[code]

Thanks a

[2019-02-20 05:02] rfoliva commented on #351
issue_template.md was created to help with issues and bug reports creation.

[2019-02-20 05:02] #351 closed

[2019-02-20 05:09] rfoliva commented on #217
Hi @sdelafond,

So I can try to reproduce this, would you please send the following for me?

### Step 2: Provide tmuxp details
  * Python version
  * system PATH
  * tmux version
  * tmuxp version
  * tmux path
  * tmuxp path,
  * libtmux version
  * shell
  * output of `tmux list-sessions`, `tmux list-windows`, `tmux list-panes`
  * output of `tmux show-options -g`, `tmux show-window-options -g`

[2019-02-20 09:30] sdelafond commented on #217
Here it is:

[code]

The test user I created to reproduce this doesn't have any specific bash or tmux configuration, I basically just used ```useradd foo``` and then copied test.yaml under ~foo/.tmuxp

[2019-02-23 11:04] dvzrv commented on #377
@rfoliva yes, unfortunately it behaves the same.

Yes, I'm packaging [tmuxp for Arch](https://www.archlinux.org/packages/community/any/tmuxp/).

python
Version         : 3.7.2-3
python-click
Version         : 7.0-1
python-colorama
Version         : 0.4.1-1
python-kaptan
Version         : 0.5.11-1
python-setuptools
Version         : 1:40.8.0-1
python-libtmux
Version         : 0.8.1-1
python-pytest

[2019-02-23 16:42] OdinsHat commented on #468
Before I send you an email offering to help I'll do an update of this article and send it to you, Tony. Better than the all-too-common "volunteer-disappear" cycle. Hopefully sort Sat or Sun (24th Feb) and send to you in the same RST format you have it in. I'll be editing some existing bits to improve readability - don't take offence. :wink:

**Anyone looking at this - I'm tackling it for now.**

[2019-02-25 11:56] OdinsHat opened #477 "tmuxp completions has error when code added to ~/.zshrc"
### Step 1: Provide a summary of your problem
When adding:
[code]
to ```~/.zshrc``` it causes errors.

### Step 2: Provide tmuxp details
  * Python version
  * system PATH
  * tmux version = 2.8
  * tmuxp version = 1.5.1
  * tmux path = /usr/bin/tmux
  * tmuxp path = /usr/bin/tmuxp
  * libtmux version = latest
  * shell = zsh
  * output of `tmuxp freeze <SESSION_NAME>`

### Step 3: Describe your e

[2019-03-07 16:33] ksalman opened #481 "Commands in shell_command do not run"
### Step 1: Provide a summary of your problem
  * For general technical questions, problems or feature requests related to the code **in this repository** file an issue.

### Step 2: Provide tmuxp details
  * Python version
2.7.6

  * system PATH
/u/ksalman/.pyenv/plugins/pyenv-virtualenv/shims:/u/ksalman/.pyenv/shims:/u/ksalman/.pyenv/bin:/u/ksalman/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/gam

[2019-03-13 16:36] Blake-LeBlanc commented on #326
Thank you for looking into this @ashdo! It's still not working on my end when I follow the formatting example offered in the documentation (similar to @animeshb's example).

Is there anything further we can try to remedy the issue?

[2019-03-15 13:21] ikirudennis commented on #477
I had the same issue, and found this gem in the [click documentation](https://click.palletsprojects.com/en/7.x/bashcomplete/#activation). So, `eval "$(_TMUXP_COMPLETE=source_zsh tmuxp)"` solves the problem for me.

[2019-03-22 18:19] trodery commented on #405
I too had this issue and I took the time to dig a bit deeper into it as I had one environment where I saw the expected (non-broken) behavior and another with the `ValueError: Session requires a 'session_id'` problem.

There is command that is ran via `subprocess` (I believe) which invokes `tmux` to provide some information in a tab delimited format for parsing. Here's a screenshot showing the comm

[2019-03-25 06:55] mayanksuman commented on #405
@trodery Can you please post the output of `locale` command in bash. I have tested my locale and LANG variable and they all seem to be fine. Other softwares do not have any issue with my locale setting.

My locale is set to
[code]
Hence, I suspect that the `tmuxp` might not support any other English locale except `en_US.UTF-8`.

[2019-03-25 12:35] trodery commented on #405
Here's the output prior to moving to an English locale:

`LANG=
LANGUAGE=
LC_CTYPE="POSIX"
LC_NUMERIC="POSIX"
LC_TIME="POSIX"
LC_COLLATE="POSIX"
LC_MONETARY="POSIX"
LC_MESSAGES="POSIX"
LC_PAPER="POSIX"
LC_NAME="POSIX"
LC_ADDRESS="POSIX"
LC_TELEPHONE="POSIX"
LC_MEASUREMENT="POSIX"
LC_IDENTIFICATION="POSIX"
LC_ALL=`

The only other problem I experienced was with `click` which demanded a UTF-8 locale

[2019-04-01 09:06] sdelafond commented on #217
@rfoliva did you have luck reproducing this with the additional information ?

[2019-04-01 13:29] dkrm0 commented on #116
This feature would be pretty good. Is there any chance we could get it?

[2019-04-05 06:24] matrixise commented on #470
Hi, maybe a small fix, should be to show a message: `No panes for the window "ssh"`?

I have the same problem just now.

[2019-05-05 14:48] #477 closed

[2019-05-08 08:44] sakalys opened #485 "tmuxp freeze without providing a SESSION_NAME fails"
When issuing a `tmuxp freeze [OPTIONS] SESSION_NAME` by omitting the "SESSION_NAME" we get an error saying _Error: Missing argument "SESSION_NAME"_. Though the help text says the following:

  current session.

I expect it to freeze the current session when issuing just `tmuxp freeze` (without additional arguments).

---
tmuxp 1.5.1

[2019-05-10 03:47] chutz opened #486 "test_expands_blank_panes and test_blank_pane_count failures"
### Step 1: Provide a summary of your problem
  * For general technical questions, problems or feature requests related to the code **in this repository** file an issue.

same on python3.6 and python3.7
tmux-2.9a
tmuxp-1.5.1
tmux-2.91
libtmux-0.8.1
bash-5.0.7

[code]

[2019-05-12 21:39] krigstask commented on #470
Crashing with `KeyError` isn't very nice anyway, I just had one due to a typo in `session_name`.

[2019-05-13 12:36] #470 closed

[2019-05-14 02:08] Odyssey2247 opened #489 "enviroment option not work on PATH variable"
I am trying to load the PATH variable in a session of tmuxp and that this variable is available in any new window of the session:

    global_options:
    default-command: /bin/bash
    environment:
      EDITOR: /usr/bin/vim
      PATH: ${PATH}$HOME/.config/myproj/
    session_name: myproj
    windows:
    - window_name: main-dev
      focus: true
      layout: horizontal
      panes:
      - she

[2019-05-15 00:43] #475 closed

[2019-05-22 19:09] tony opened #492 "Note: add project url to setup.py for pypi"
Example

https://github.com/pallets/flask/blob/1.0.3/setup.py

[code]

![image](https://user-images.githubusercontent.com/26336/58201630-268c1300-7c9b-11e9-961f-12880b3fc615.png)

[2019-05-27 02:19] tony opened #493 "Reminder: Write test for #491"
https://github.com/tmux-python/tmuxp/pull/491

https://click.palletsprojects.com/en/7.x/testing/

Examples: test_import_tmuxinator/teamocil

[2019-05-27 12:00] jasonqiao36 commented on #326
not working too

[2019-06-01 20:14] #492 closed

[2019-06-01 20:45] tony opened #495 "Remove redundant confirmations from tmuxp freeze"
tmuxp asks for entering of destination twice.

Just change this to a y/n

[2019-06-01 22:50] #493 closed

[2019-06-02 04:44] #495 closed

[2019-06-03 21:20] dvzrv commented on #377
This is still happening with 1.5.2. I have to `Ctrl+c` the tests:

[code]

I'm unsure whether this is what is causing the hang...
However, the file `examples/blank-panes.yaml` is not in the source tarball on pypi!

When using the tarball from github (which has the example files), killing the tests only leads to:

[code]

[2019-06-03 21:25] dvzrv commented on #474
Hey! sorry for the extreme delay. Must have forgotten this issue when upgrading.
The scripts are now there, but the `examples` folder is missing.

[2019-06-06 17:52] tony commented on #377
@dvzrv v1.5.3 better?

[2019-06-06 21:37] dvzrv commented on #377
@tony tests are now properly included in the pypi srcdist (thanks!), but `tests/test_workspacebuilder.py` still does not return.
I have to do `py.test -k "not test_workspacebuilder"` for the tests to pass.

[2019-06-06 23:12] tony commented on #377
@dvzrv Can you show me the test output with v1.5.3 (I think 1.5.*3* would pass, if not I'm going to reopen this).

Maybe I didn't test thoroughly enough this morning (was still in the virtualenv when I ran the test now that I remember!)

[2019-06-09 21:40] tony commented on #377
@dvzrv I tested this with python 3 and it worked on my end

[code]

Can you give it another try?

I think that the workspacebuilder issue is fixed by 1.5.3 including the missing file.

The retry issue would be fixed by `--reruns 0` to pytest.

Any better now?

[2019-06-09 22:28] dvzrv commented on #377
I'm still at the same result with 1.5.3:

[code]

The difference between starting the packaging process locally
![tmuxp-makepkg](https://user-images.githubusercontent.com/432519/59165069-336f8a00-8b16-11e9-9717-ce9c291c0605.png)

and in a Linux container
![tmuxp-devtools](https://user-images.githubusercontent.com/432519/59165082-63b72880-8b16-11e9-8dfa-425f926a7b33.png)

is, that in the latter cas

[2019-06-09 22:30] tony commented on #377
@dvzrv Can you pass `-vvv` to pytest to see which one is hanging?

Thank you for this info?

[2019-06-09 22:34] dvzrv commented on #377
`tests/test_workspacebuilder.py::test_pane_order` seems to be the culprit!

[tmuxp-1.5.3-2-x86_64-check.log](https://github.com/tmux-python/tmuxp/files/3270057/tmuxp-1.5.3-2-x86_64-check.log)

[2019-06-09 22:35] tony commented on #377
@dvzrv Nice find! Looking into it now

`tmux -V` ?

[2019-06-09 22:37] dvzrv commented on #377
It's `tmux 2.9a`, but it has been like this since at least `tmux 2.7` (when cross checking the [update log of the package](https://git.archlinux.org/svntogit/community.git/log/trunk?h=packages/tmux)).

[2019-06-09 22:38] dvzrv commented on #377
Also, man, sorry, could've provided `-vvv` much earlier. Sometimes reporting bugs is happening in some sort of autopilot ;-)

[2019-06-09 22:39] tony commented on #377
You can change it to ignore just `tests/test_workspacebuilder.py::test_pane_order` for now

Looking into the assertion now (my difficulty is I'm having trouble reproducing it, so I am reading it carefully to make sure I didn't write any flaky assertions/setup)

No issue at all!